# Data frame

1. Creating a data frame
    - Manually
    - From CSV and other files
3. Methods on a data frame
4. `.loc` and `.iloc`
5. `nan` and data frames
6. Boolean indexes and data frames

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame([[10, 20, 30],
               [40, 50, 60],
               [70, 80, 90],
               [100, 110, 120]])
df

     0    1    2
0   10   20   30
1   40   50   60
2   70   80   90
3  100  110  120

In [3]:
df.dtypes

0    int64
1    int64
2    int64
dtype: object