# Agenda

1. Indexes and multi-indexes
2. Sorting
3. Grouping
4. Pivot table

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [4]:
df.shape

(9999, 19)

In [5]:
# set_index -- 

(
    df
    .set_index('tpep_pickup_datetime')
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [7]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01 00:13:04']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:13:04,1,2015-06-01 00:30:41,1,6.1,-73.925453,40.761856,1,N,-73.962074,40.799007,2,20.0,0.5,0.5,0.00,0.0,0.3,21.30
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.8,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [8]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01 00:13:04',
            ['trip_distance', 'total_amount']]
)

                      trip_distance  total_amount
tpep_pickup_datetime
2015-06-01 00:13:04             6.1         21.30
2015-06-01 00:13:04             5.8         26.75

In [9]:
df = df.set_index('tpep_pickup_datetime')
df

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [10]:
# reset_index -- does the opposite of set_index

df.reset_index()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [11]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [12]:
df = df.reset_index()

In [13]:

df

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [14]:
df.head()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [15]:
df.loc[100:105]

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
100,2015-06-02 11:20:46,1,2015-06-02 11:25:36,1,0.70,-73.945610,40.778805,1,N,-73.955750,40.779701,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
101,2015-06-02 11:20:46,2,2015-06-02 11:59:33,1,3.46,-73.986557,40.761761,1,N,-74.003464,40.722359,1,23.5,0.0,0.5,3.50,0.0,0.3,27.80
102,2015-06-02 11:20:47,2,2015-06-02 11:30:44,2,1.14,-73.975868,40.725204,1,N,-73.989761,40.734417,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80
103,2015-06-02 11:20:48,1,2015-06-02 11:51:40,1,2.20,-73.966652,40.764923,1,N,-73.991196,40.750305,1,18.5,0.0,0.5,3.85,0.0,0.3,23.15
104,2015-06-02 11:20:49,1,2015-06-02 11:40:09,1,2.00,-73.950737,40.779007,1,N,-73.970955,40.758602,1,13.5,0.0,0.5,2.85,0.0,0.3,17.15
105,2015-06-02 11:20:49,1,2015-06-02 11:38:53,1,1.80,-73.971413,40.764534,1,N,-73.956612,40.783936,2,12.0,0.0,0.5,0.00,0.0,0.3,12.80

In [16]:
df = df.set_index('tpep_pickup_datetime')

In [17]:
df.loc['2015-06-02 11:20:46':'2015-06-02 11:20:50']

KeyError: "Cannot get left slice bound for non-unique label: '2015-06-02 11:20:46'"

In [20]:
df = df.reset_index()

In [22]:
(
    df
    .set_index('tpep_pickup_datetime')    
    .sort_index()
    .loc['2015-06-02 11:20:46':'2015-06-02 11:20:47']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:20:46,1,2015-06-02 11:30:31,1,0.70,-73.992981,40.739178,1,N,-73.984535,40.742977,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
2015-06-02 11:20:46,2,2015-06-02 11:30:51,5,1.45,-73.953415,40.766964,1,N,-73.962410,40.778263,1,8.5,0.0,0.5,2.79,0.0,0.3,12.09
2015-06-02 11:20:46,1,2015-06-02 11:27:07,1,0.90,-73.993332,40.733391,1,N,-74.005699,40.740650,1,6.0,0.0,0.5,1.35,0.0,0.3,8.15
2015-06-02 11:20:46,2,2015-06-02 11:59:33,1,3.46,-73.986557,40.761761,1,N,-74.003464,40.722359,1,23.5,0.0,0.5,3.50,0.0,0.3,27.80
2015-06-02 11:20:46,1,2015-06-02 11:25:36,1,0.70,-73.945610,40.778805,1,N,-73.955750,40.779701,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
2015-06-02 11:20:46,2,2015-06-02 11:23:52,5,0.00,-73.971809,40.764050,1,N,-73.966827,40.770039,1,4.0,0.0,0.5,1.00,0.0,0.3,5.80
2015-06-02 11:20:46,1,2015-06-02 11:50:37,1,6.00,-74.002243,40.709095,1,N,-73.965607,40.768993,2,24.0,0.0,0.5,0.00,0.0,0.3,24.80
2015-06-02 11:20:47,1,2015-06-02 11:32:14,1,0.90,-73.978035,40.755737,1,N,-73.974373,40.763294,2,8.5,0.0,0.5,0.00,0.0,0.3,9.30
2015-06-02 11:20:47,1,2015-06-02 11:39:28,1,2.60,-73.975555,40.763851,1,N,-73.969643,40.789585,1,14.0,0.0,0.5,1.00,0.0,0.3,15.80
2015-06-02 11:20:47,2,2015-06-02 11:28:03,6,0.84,-73.962547,40.767368,1,N,-73.952759,40.773300,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30
2015-06-02 11:20:47,2,2015-06-02 11:30:44,2,1.14,-73.975868,40.725204,1,N,-73.989761,40.734417,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80

In [24]:
i = (
    df
    .set_index('tpep_pickup_datetime')
    .index
)

i

Index(['2015-06-02 11:19:29', '2015-06-02 11:19:30', '2015-06-02 11:19:31',
       '2015-06-02 11:19:31', '2015-06-02 11:19:32', '2015-06-02 11:19:33',
       '2015-06-02 11:19:34', '2015-06-02 11:19:35', '2015-06-02 11:19:36',
       '2015-06-02 11:19:38',
       ...
       '2015-06-01 00:13:41', '2015-06-01 00:13:42', '2015-06-01 00:13:43',
       '2015-06-01 00:13:45', '2015-06-01 00:13:47', '2015-06-01 00:12:59',
       '2015-06-01 00:12:59', '2015-06-01 00:13:00', '2015-06-01 00:13:02',
       '2015-06-01 00:13:04'],
      dtype='object', name='tpep_pickup_datetime', length=9999)

In [25]:
dir(i)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_arith_method',
 '_assert_can_do_setop',
 '_attributes',
 '_cache',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_hold_strings',
 '_can_use_libjoin',
 '_check_indexing_error',
 '_check_indexing_method',
 '_cleanup',
 '_cmp_method',
 '_comparables',
 '_concat',
 '_construct_result',
 '_constructor',
 '_convert_can_do_setop',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data',
 '_data_cls',
 '_default_na_rep',
 '_difference',
 '_difference_compat',
 '_dir_additions',
 '_dir_additions_for_owner',
 '_dir_deletions',
 '_drop_level_numbers',
 '_dti_setop_align_tzs',
 '_dtype_to_subclass',
 '_duplicated',
 '_engine',
 '_engine_type',
 '_engine_types',
 '_ensure_array',
 '_filter_indexer_tolerance',
 '_find_common_type_compat',
 '_format_attrs',
 '_format_data',
 '_format_duplicate_message',
 '_format_flat',
 '_format_with_header',
 '_formatter_func',
 '_from_join_target',
 '_get_default_index_names',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_indexer',
 '_get_indexer_non_comparable',
 '_get_indexer_strict',
 '_get_join_target',
 '_get_level_names',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_values_for_csv',
 '_getitem_slice',
 '_hidden_attrs',
 '_holds_integer',
 '_id',
 '_index_as_unique',
 '_inner_indexer',
 '_intersection',
 '_intersection_via_get_indexer',
 '_is_all_dates',
 '_is_comparable_dtype',
 '_is_memory_usage_qualified',
 '_is_multi',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_empty',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_via_get_indexer',
 '_left_indexer',
 '_left_indexer_unique',
 '_logical_method',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_listlike_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_check_unique',
 '_maybe_disable_logical_methods',
 '_maybe_disallow_fill',
 '_maybe_downcast_for_indexing',
 '_maybe_preserve_names',
 '_memory_usage',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_no_setting_name',
 '_outer_indexer',
 '_raise_if_missing',
 '_raise_invalid_indexer',
 '_raise_scalar_data_error',
 '_references',
 '_reindex_non_unique',
 '_rename',
 '_requires_unique_msg',
 '_reset_cache',
 '_reset_identity',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_should_compare',
 '_should_fallback_to_positional',
 '_should_partial_index',
 '_simple_new',
 '_sort_levels_monotonic',
 '_summary',
 '_supports_partial_string_indexing',
 '_transform_index',
 '_typ',
 '_unary_method',
 '_union',
 '_validate_can_reindex',
 '_validate_fill_value',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_view',
 '_with_infer',
 '_wrap_difference_result',
 '_wrap_intersection_result',
 '_wrap_joined_index',
 '_wrap_reindex_result',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asof',
 'asof_locs',
 'astype',
 'copy',
 'delete',
 'diff',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'infer_objects',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'round',
 'searchsorted',
 'set_names',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_numpy',
 'to_series',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [26]:
i.is_monotonic_increasing

False

In [27]:
df

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [31]:
(
    df
    .set_index(['VendorID', 'tpep_pickup_datetime'])
    .sort_index()
    .loc[(2, '2015-06-02 11:19:29')]   # tuple means: different parts of the multi-index
)

,,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,tpep_pickup_datetime,,,,,,,,,,,,,,,,,
2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.95443,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8

In [32]:
(
    df
    .set_index(['VendorID', 'tpep_pickup_datetime'])
    .sort_index()
    .loc[[1, 2]]    # list means: fancy indexing
)

                              tpep_dropoff_datetime  passenger_count  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00    2015-06-01 00:06:12                1
         2015-06-01 00:00:01    2015-06-01 00:08:26                3
         2015-06-01 00:00:03    2015-06-01 00:09:00                2
         2015-06-01 00:00:03    2015-06-01 00:06:37                1
         2015-06-01 00:00:04    2015-06-01 00:01:54                2
...                                             ...              ...
2        2015-06-06 16:53:56    2015-06-06 16:55:51                1
         2015-06-06 16:53:56    2015-06-06 17:02:49                1
         2015-06-06 16:53:56    2015-06-06 17:02:42                6
         2015-06-06 16:53:56    2015-06-06 17:54:22                1
         2015-06-06 16:53:56    2015-06-06 16:56:18                1

                               trip_distance  pickup_longitude  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00            1.00        -73.988739
         2015-06-01 00:00:01            1.20        -73.981827
         2015-06-01 00:00:03            1.80        -73.985794
         2015-06-01 00:00:03            0.80        -73.995377
         2015-06-01 00:00:04            0.50        -73.993965
...                                      ...               ...
2        2015-06-06 16:53:56            0.76        -73.977509
         2015-06-06 16:53:56            1.31        -73.949532
         2015-06-06 16:53:56            1.36        -73.989304
         2015-06-06 16:53:56           17.36        -73.790520
         2015-06-06 16:53:56            0.58        -73.949013

                               pickup_latitude  RateCodeID store_and_fwd_flag  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00         40.756832           1                  N
         2015-06-01 00:00:01         40.770767           1                  N
         2015-06-01 00:00:03         40.752808           1                  N
         2015-06-01 00:00:03         40.688141           1                  N
         2015-06-01 00:00:04         40.761684           1                  N
...                                        ...         ...                ...
2        2015-06-06 16:53:56         40.784252           1                  N
         2015-06-06 16:53:56         40.776760           1                  N
         2015-06-06 16:53:56         40.773174           1                  N
         2015-06-06 16:53:56         40.646461           2                  N
         2015-06-06 16:53:56         40.788616           1                  N

                               dropoff_longitude  dropoff_latitude  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00          -73.974701         40.757038
         2015-06-01 00:00:01          -73.994957         40.764378
         2015-06-01 00:00:03          -74.003029         40.733280
         2015-06-01 00:00:03          -73.987328         40.696350
         2015-06-01 00:00:04          -73.989525         40.767765
...                                          ...               ...
2        2015-06-06 16:53:56          -73.970848         40.793365
         2015-06-06 16:53:56          -73.962936         40.770599
         2015-06-06 16:53:56          -73.972092         40.763237
         2015-06-06 16:53:56          -73.969048         40.763062
         2015-06-06 16:53:56          -73.952942         40.781727

                               payment_type  fare_amount  extra  mta_tax  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00              2          6.0    0.5      0.5
         2015-06-01 00:00:01              2          7.5    0.5      0.5
         2015-06-01 00:00:03              2          8.5    0.5      0.5
         2015-06-01 00:00:03              2          6.5    0.5      0.5
         2015-06-01 00:00:04              2          3.5    0.5      0.5
...                                     ...          ...    ...      ...
2        2015-06-06 16:53:56              2          4.0    0.0      0.5
         2015-06-06 16:53:56              2          8.0    0.0      0.5
         2015-06-06 16:53:56              1          7.5    0.0      0.5
         2015-06-06 16:53:56              1         52.0    0.0      0.5
         2015-06-06 16:53:56              1          4.0    0.0      0.5

                               tip_amount  tolls_amount  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00         0.00          0.00
         2015-06-01 00:00:01         0.00          0.00
         2015-06-01 00:00:03         0.00          0.00
         2015-06-01 00:00:03         0.00          0.00
         2015-06-01 00:00:04         0.00          0.00
...                                   ...           ...
2        2015-06-06 16:53:56         0.00          0.00
         2015-06-06 16:53:56         0.00          0.00
         2015-06-06 16:53:56         1.66          0.00
         2015-06-06 16:53:56        10.66          5.54
         2015-06-06 16:53:56         0.95          0.00

                               improvement_surcharge  total_amount
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00                     0.3          7.30
         2015-06-01 00:00:01                     0.3          8.80
         2015-06-01 00:00:03                     0.3          9.80
         2015-06-01 00:00:03                     0.3          7.80
         2015-06-01 00:00:04                     0.3          4.80
...                                              ...           ...
2        2015-06-06 16:53:56                     0.3          4.80
         2015-06-06 16:53:56                     0.3          8.80
         2015-06-06 16:53:56                     0.3          9.96
         2015-06-06 16:53:56                     0.3         69.00
         2015-06-06 16:53:56                     0.3          5.75

[9999 rows x 17 columns]

In [33]:
(
    df
    .set_index(['VendorID', 'tpep_pickup_datetime'])
    .sort_index()
    .loc[[2, '2015-06-02 11:19:29']]   # using a list, rather than a tuple, results in an error
)

KeyError: "['2015-06-02 11:19:29'] not in index"

In [36]:
# set the multi-index with read_csv

df = (
    pd
    .read_csv('taxi.csv',
             index_col=['VendorID', 'tpep_pickup_datetime'])
)

df

                              tpep_dropoff_datetime  passenger_count  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29    2015-06-02 11:47:52                1
         2015-06-02 11:19:30    2015-06-02 11:27:56                1
         2015-06-02 11:19:31    2015-06-02 11:30:30                1
         2015-06-02 11:19:31    2015-06-02 11:39:02                1
1        2015-06-02 11:19:32    2015-06-02 11:32:49                1
...                                             ...              ...
         2015-06-01 00:12:59    2015-06-01 00:24:18                1
         2015-06-01 00:12:59    2015-06-01 00:28:16                1
2        2015-06-01 00:13:00    2015-06-01 00:37:25                1
         2015-06-01 00:13:02    2015-06-01 00:19:10                6
1        2015-06-01 00:13:04    2015-06-01 00:36:33                1

                               trip_distance  pickup_longitude  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29            1.63        -73.954430
         2015-06-02 11:19:30            0.46        -73.971443
         2015-06-02 11:19:31            0.87        -73.978111
         2015-06-02 11:19:31            2.13        -73.945892
1        2015-06-02 11:19:32            1.40        -73.979088
...                                      ...               ...
         2015-06-01 00:12:59            2.70        -73.947792
         2015-06-01 00:12:59            4.50        -74.004066
2        2015-06-01 00:13:00            5.59        -73.994377
         2015-06-01 00:13:02            1.54        -73.978302
1        2015-06-01 00:13:04            5.80        -73.983215

                               pickup_latitude  RateCodeID store_and_fwd_flag  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29         40.764141           1                  N
         2015-06-02 11:19:30         40.758942           1                  N
         2015-06-02 11:19:31         40.738434           1                  N
         2015-06-02 11:19:31         40.773529           1                  N
1        2015-06-02 11:19:32         40.776772           1                  N
...                                        ...         ...                ...
         2015-06-01 00:12:59         40.814972           1                  N
         2015-06-01 00:12:59         40.747818           1                  N
2        2015-06-01 00:13:00         40.766102           1                  N
         2015-06-01 00:13:02         40.748531           1                  N
1        2015-06-01 00:13:04         40.726414           1                  N

                               dropoff_longitude  dropoff_latitude  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29          -73.974754         40.754093
         2015-06-02 11:19:30          -73.978539         40.761909
         2015-06-02 11:19:31          -73.990273         40.745438
         2015-06-02 11:19:31          -73.971527         40.760330
1        2015-06-02 11:19:32          -73.982162         40.758999
...                                          ...               ...
         2015-06-01 00:12:59          -73.973358         40.783638
         2015-06-01 00:12:59          -73.953758         40.779285
2        2015-06-01 00:13:00          -73.903206         40.750546
         2015-06-01 00:13:02          -73.989166         40.762852
1        2015-06-01 00:13:04          -73.924133         40.701645

                               payment_type  fare_amount  extra  mta_tax  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29              2         17.0    0.0      0.5
         2015-06-02 11:19:30              1          6.5    0.0      0.5
         2015-06-02 11:19:31              1          8.0    0.0      0.5
         2015-06-02 11:19:31              1         13.5    0.0      0.5
1        2015-06-02 11:19:32              2          9.5    0.0      0.5
...                                     ...          ...    ...      ...
         2015-06-01 00:12:59              2         11.0    0.5      0.5
         2015-06-01 00:12:59              1         16.0    0.5      0.5
2        2015-06-01 00:13:00              2         21.0    0.5      0.5
         2015-06-01 00:13:02              2          6.5    0.5      0.5
1        2015-06-01 00:13:04              1         21.0    0.5      0.5

                               tip_amount  tolls_amount  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29         0.00           0.0
         2015-06-02 11:19:30         1.00           0.0
         2015-06-02 11:19:31         2.20           0.0
         2015-06-02 11:19:31         2.86           0.0
1        2015-06-02 11:19:32         0.00           0.0
...                                   ...           ...
         2015-06-01 00:12:59         0.00           0.0
         2015-06-01 00:12:59         3.00           0.0
2        2015-06-01 00:13:00         0.00           0.0
         2015-06-01 00:13:02         0.00           0.0
1        2015-06-01 00:13:04         4.45           0.0

                               improvement_surcharge  total_amount
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29                     0.3         17.80
         2015-06-02 11:19:30                     0.3          8.30
         2015-06-02 11:19:31                     0.3         11.00
         2015-06-02 11:19:31                     0.3         17.16
1        2015-06-02 11:19:32                     0.3         10.30
...                                              ...           ...
         2015-06-01 00:12:59                     0.3         12.30
         2015-06-01 00:12:59                     0.3         20.30
2        2015-06-01 00:13:00                     0.3         22.30
         2015-06-01 00:13:02                     0.3          7.80
1        2015-06-01 00:13:04                     0.3         26.75

[9999 rows x 17 columns]

In [39]:
# what if I want those rows where tpep_pickup_datetime is '2015-06-02 11:19:29'?

(
    df 
    .reset_index(level='VendorID')
    .loc['2015-06-02 11:19:29']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
2015-06-02 11:19:29,1,2015-06-02 11:26:06,1,1.10,-74.005524,40.725693,1,N,-73.992691,40.732224,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
2015-06-02 11:19:29,1,2015-06-02 11:22:47,1,0.40,-73.975044,40.790031,1,N,-73.975517,40.787106,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8

In [40]:

(
    df 
    .reset_index(level=0)
    .loc['2015-06-02 11:19:29']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
2015-06-02 11:19:29,1,2015-06-02 11:26:06,1,1.10,-74.005524,40.725693,1,N,-73.992691,40.732224,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
2015-06-02 11:19:29,1,2015-06-02 11:22:47,1,0.40,-73.975044,40.790031,1,N,-73.975517,40.787106,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8

In [41]:
# use .xs (cross section)

(
    df 
    .xs('2015-06-02 11:19:29', level='tpep_pickup_datetime')
)

,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,,,,,,,,,,,,,,,,,
2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
1,2015-06-02 11:26:06,1,1.10,-74.005524,40.725693,1,N,-73.992691,40.732224,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
1,2015-06-02 11:22:47,1,0.40,-73.975044,40.790031,1,N,-73.975517,40.787106,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8

In [42]:
(
    df 
    .loc[2]
)

,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.0,0.3,15.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:13:42,2015-06-01 00:34:32,1,6.07,-73.979309,40.723488,1,N,-73.958405,40.673611,1,20.0,0.5,0.5,5.32,0.0,0.3,26.62
2015-06-01 00:13:43,2015-06-01 00:21:49,1,1.48,-73.988739,40.756950,1,N,-73.976860,40.743309,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
2015-06-01 00:13:45,2015-06-01 00:36:43,1,6.37,-74.006752,40.744141,1,N,-73.922806,40.764030,2,22.0,0.5,0.5,0.00,0.0,0.3,23.30
2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80

In [44]:
# use .xs (cross section)

(
    df 
    .xs((2, '2015-06-02 11:19:29'), 
        level=['VendorID', 'tpep_pickup_datetime'])
)

,,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,tpep_pickup_datetime,,,,,,,,,,,,,,,,,
2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.95443,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8

In [48]:
df = pd.read_csv('taxi.csv',
                index_col=['VendorID', 'passenger_count', 'tpep_pickup_datetime'])
df

                                              tpep_dropoff_datetime  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29    2015-06-02 11:47:52
                         2015-06-02 11:19:30    2015-06-02 11:27:56
                         2015-06-02 11:19:31    2015-06-02 11:30:30
                         2015-06-02 11:19:31    2015-06-02 11:39:02
1        1               2015-06-02 11:19:32    2015-06-02 11:32:49
...                                                             ...
                         2015-06-01 00:12:59    2015-06-01 00:24:18
                         2015-06-01 00:12:59    2015-06-01 00:28:16
2        1               2015-06-01 00:13:00    2015-06-01 00:37:25
         6               2015-06-01 00:13:02    2015-06-01 00:19:10
1        1               2015-06-01 00:13:04    2015-06-01 00:36:33

                                               trip_distance  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29            1.63
                         2015-06-02 11:19:30            0.46
                         2015-06-02 11:19:31            0.87
                         2015-06-02 11:19:31            2.13
1        1               2015-06-02 11:19:32            1.40
...                                                      ...
                         2015-06-01 00:12:59            2.70
                         2015-06-01 00:12:59            4.50
2        1               2015-06-01 00:13:00            5.59
         6               2015-06-01 00:13:02            1.54
1        1               2015-06-01 00:13:04            5.80

                                               pickup_longitude  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29         -73.954430
                         2015-06-02 11:19:30         -73.971443
                         2015-06-02 11:19:31         -73.978111
                         2015-06-02 11:19:31         -73.945892
1        1               2015-06-02 11:19:32         -73.979088
...                                                         ...
                         2015-06-01 00:12:59         -73.947792
                         2015-06-01 00:12:59         -74.004066
2        1               2015-06-01 00:13:00         -73.994377
         6               2015-06-01 00:13:02         -73.978302
1        1               2015-06-01 00:13:04         -73.983215

                                               pickup_latitude  RateCodeID  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29         40.764141           1
                         2015-06-02 11:19:30         40.758942           1
                         2015-06-02 11:19:31         40.738434           1
                         2015-06-02 11:19:31         40.773529           1
1        1               2015-06-02 11:19:32         40.776772           1
...                                                        ...         ...
                         2015-06-01 00:12:59         40.814972           1
                         2015-06-01 00:12:59         40.747818           1
2        1               2015-06-01 00:13:00         40.766102           1
         6               2015-06-01 00:13:02         40.748531           1
1        1               2015-06-01 00:13:04         40.726414           1

                                              store_and_fwd_flag  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29                   N
                         2015-06-02 11:19:30                   N
                         2015-06-02 11:19:31                   N
                         2015-06-02 11:19:31                   N
1        1               2015-06-02 11:19:32                   N
...                                                          ...
                         2015-06-01 00:12:59                   N
                         2015-06-01 00:12:59                   N
2        1               2015-06-01 00:13:00                   N
         6               2015-06-01 00:13:02                   N
1        1               2015-06-01 00:13:04                   N

                                               dropoff_longitude  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          -73.974754
                         2015-06-02 11:19:30          -73.978539
                         2015-06-02 11:19:31          -73.990273
                         2015-06-02 11:19:31          -73.971527
1        1               2015-06-02 11:19:32          -73.982162
...                                                          ...
                         2015-06-01 00:12:59          -73.973358
                         2015-06-01 00:12:59          -73.953758
2        1               2015-06-01 00:13:00          -73.903206
         6               2015-06-01 00:13:02          -73.989166
1        1               2015-06-01 00:13:04          -73.924133

                                               dropoff_latitude  payment_type  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          40.754093             2
                         2015-06-02 11:19:30          40.761909             1
                         2015-06-02 11:19:31          40.745438             1
                         2015-06-02 11:19:31          40.760330             1
1        1               2015-06-02 11:19:32          40.758999             2
...                                                         ...           ...
                         2015-06-01 00:12:59          40.783638             2
                         2015-06-01 00:12:59          40.779285             1
2        1               2015-06-01 00:13:00          40.750546             2
         6               2015-06-01 00:13:02          40.762852             2
1        1               2015-06-01 00:13:04          40.701645             1

                                               fare_amount  extra  mta_tax  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          17.0    0.0      0.5
                         2015-06-02 11:19:30           6.5    0.0      0.5
                         2015-06-02 11:19:31           8.0    0.0      0.5
                         2015-06-02 11:19:31          13.5    0.0      0.5
1        1               2015-06-02 11:19:32           9.5    0.0      0.5
...                                                    ...    ...      ...
                         2015-06-01 00:12:59          11.0    0.5      0.5
                         2015-06-01 00:12:59          16.0    0.5      0.5
2        1               2015-06-01 00:13:00          21.0    0.5      0.5
         6               2015-06-01 00:13:02           6.5    0.5      0.5
1        1               2015-06-01 00:13:04          21.0    0.5      0.5

                                               tip_amount  tolls_amount  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29         0.00           0.0
                         2015-06-02 11:19:30         1.00           0.0
                         2015-06-02 11:19:31         2.20           0.0
                         2015-06-02 11:19:31         2.86           0.0
1        1               2015-06-02 11:19:32         0.00           0.0
...                                                   ...           ...
                         2015-06-01 00:12:59         0.00           0.0
                         2015-06-01 00:12:59         3.00           0.0
2        1               2015-06-01 00:13:00         0.00           0.0
         6               2015-06-01 00:13:02         0.00           0.0
1        1               2015-06-01 00:13:04         4.45           0.0

                                               improvement_surcharge  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29                     0.3
                         2015-06-02 11:19:30                     0.3
                         2015-06-02 11:19:31                     0.3
                         2015-06-02 11:19:31                     0.3
1        1               2015-06-02 11:19:32                     0.3
...                                                              ...
                         2015-06-01 00:12:59                     0.3
                         2015-06-01 00:12:59                     0.3
2        1               2015-06-01 00:13:00                     0.3
         6               2015-06-01 00:13:02                     0.3
1        1               2015-06-01 00:13:04                     0.3

                                               total_amount
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          17.80
                         2015-06-02 11:19:30           8.30
                         2015-06-02 11:19:31          11.00
                         2015-06-02 11:19:31          17.16
1        1               2015-06-02 11:19:32          10.30
...                                                     ...
                         2015-06-01 00:12:59          12.30
                         2015-06-01 00:12:59          20.30
2        1               2015-06-01 00:13:00          22.30
         6               2015-06-01 00:13:02           7.80
1        1               2015-06-01 00:13:04          26.75

[9999 rows x 16 columns]

In [49]:
# VendorID 2, passenger_count 4

df.loc[(2, 4)]

/var/folders/n7/3xckdj8j3dz45qz4xnlk1fy40000gn/T/ipykernel_18024/595134325.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[(2, 4)]

,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,
2015-06-02 11:20:50,2015-06-02 11:33:48,1.48,-73.965858,40.758888,1,N,-73.965858,40.758888,1,10.0,0.0,0.5,2.16,0.00,0.3,12.96
2015-06-02 11:21:07,2015-06-02 11:44:10,3.46,-73.981262,40.749622,1,N,-74.010216,40.720074,1,16.0,0.0,0.5,3.36,0.00,0.3,20.16
2015-06-02 11:21:09,2015-06-02 11:24:48,0.63,-73.962616,40.772381,1,N,-73.957092,40.780083,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
2015-06-02 11:24:08,2015-06-02 11:58:39,7.60,-73.980476,40.781582,1,N,-73.993942,40.715599,1,27.5,0.0,0.5,5.66,0.00,0.3,33.96
2015-06-02 11:20:14,2015-06-02 11:49:18,3.22,-73.970375,40.763157,1,N,-74.005287,40.740295,2,18.5,0.0,0.5,0.00,0.00,0.3,19.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:09:16,2015-06-01 00:16:36,2.14,-73.981934,40.740349,1,N,-73.959839,40.760891,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
2015-06-01 00:09:45,2015-06-01 00:14:15,0.98,-73.906189,40.875614,1,N,-73.908005,40.864998,1,5.5,0.5,0.5,0.00,0.00,0.3,6.80
2015-06-01 00:10:30,2015-06-01 00:29:26,7.44,-73.870895,40.773777,1,N,-73.957672,40.802906,1,23.0,0.5,0.5,5.97,5.54,0.3,35.81
2015-06-01 00:10:46,2015-06-01 00:17:33,1.38,-73.986282,40.755833,1,N,-73.985001,40.768688,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
2015-06-01 00:12:39,2015-06-01 00:39:03,17.34,-73.788551,40.642056,2,N,-73.982697,40.745148,1,52.0,0.0,0.5,11.67,5.54,0.3,70.01

In [50]:
df.xs((2, 4),
     level=['VendorID', 'passenger_count'])

,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,
2015-06-02 11:20:50,2015-06-02 11:33:48,1.48,-73.965858,40.758888,1,N,-73.965858,40.758888,1,10.0,0.0,0.5,2.16,0.00,0.3,12.96
2015-06-02 11:21:07,2015-06-02 11:44:10,3.46,-73.981262,40.749622,1,N,-74.010216,40.720074,1,16.0,0.0,0.5,3.36,0.00,0.3,20.16
2015-06-02 11:21:09,2015-06-02 11:24:48,0.63,-73.962616,40.772381,1,N,-73.957092,40.780083,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
2015-06-02 11:24:08,2015-06-02 11:58:39,7.60,-73.980476,40.781582,1,N,-73.993942,40.715599,1,27.5,0.0,0.5,5.66,0.00,0.3,33.96
2015-06-02 11:20:14,2015-06-02 11:49:18,3.22,-73.970375,40.763157,1,N,-74.005287,40.740295,2,18.5,0.0,0.5,0.00,0.00,0.3,19.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:09:16,2015-06-01 00:16:36,2.14,-73.981934,40.740349,1,N,-73.959839,40.760891,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
2015-06-01 00:09:45,2015-06-01 00:14:15,0.98,-73.906189,40.875614,1,N,-73.908005,40.864998,1,5.5,0.5,0.5,0.00,0.00,0.3,6.80
2015-06-01 00:10:30,2015-06-01 00:29:26,7.44,-73.870895,40.773777,1,N,-73.957672,40.802906,1,23.0,0.5,0.5,5.97,5.54,0.3,35.81
2015-06-01 00:10:46,2015-06-01 00:17:33,1.38,-73.986282,40.755833,1,N,-73.985001,40.768688,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
2015-06-01 00:12:39,2015-06-01 00:39:03,17.34,-73.788551,40.642056,2,N,-73.982697,40.745148,1,52.0,0.0,0.5,11.67,5.54,0.3,70.01

In [ ]:
df.xs((2, '2015-06-02 11:20:50'),
     level=['passenger_count', ])

In [54]:
# https://files.lerner.co.il/all-data-exercise-files.zip

In [55]:
!head olympic_athlete_events.csv

"ID","Name","Sex","Age","Height","Weight","Team","NOC","Games","Year","Season","City","Sport","Event","Medal"
"1","A Dijiang","M",24,180,80,"China","CHN","1992 Summer",1992,"Summer","Barcelona","Basketball","Basketball Men's Basketball",NA
"2","A Lamusi","M",23,170,60,"China","CHN","2012 Summer",2012,"Summer","London","Judo","Judo Men's Extra-Lightweight",NA
"3","Gunnar Nielsen Aaby","M",24,NA,NA,"Denmark","DEN","1920 Summer",1920,"Summer","Antwerpen","Football","Football Men's Football",NA
"4","Edgar Lindenau Aabye","M",34,NA,NA,"Denmark/Sweden","DEN","1900 Summer",1900,"Summer","Paris","Tug-Of-War","Tug-Of-War Men's Tug-Of-War","Gold"
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",27,185,82,"Netherlands","NED","1994 Winter",1994,"Winter","Lillehammer","Speed Skating","Speed Skating Women's 500 metres",NA

# Exercise: Olympic data

1. Create a data frame from this data. Use four columns for the index: `Year`, `Season`, `Sport`, `Event`.
2. Find the mean age for summer games.
3. What team has won the most medals in archery?
4. How tall was the tallest-ever tennis player?

In [56]:
df = pd.read_csv('olympic_athlete_events.csv',
                index_col=['Year', 'Season', 'Sport', 'Event'])
df

                                                                        ID  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    1
2012 Summer Judo          Judo Men's Extra-Lightweight                   2
1920 Summer Football      Football Men's Football                        3
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                    4
1988 Winter Speed Skating Speed Skating Women's 500 metres               5
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                135569
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  135570
                          Ski Jumping Men's Large Hill, Team        135570
1998 Winter Bobsleigh     Bobsleigh Men's Four                      135571
2002 Winter Bobsleigh     Bobsleigh Men's Four                      135571

                                                                                        Name  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                              A Dijiang
2012 Summer Judo          Judo Men's Extra-Lightweight                              A Lamusi
1920 Summer Football      Football Men's Football                        Gunnar Nielsen Aaby
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                   Edgar Lindenau Aabye
1988 Winter Speed Skating Speed Skating Women's 500 metres          Christine Jacoba Aaftink
...                                                                                      ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                              Andrzej ya
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual                  Piotr ya
                          Ski Jumping Men's Large Hill, Team                        Piotr ya
1998 Winter Bobsleigh     Bobsleigh Men's Four                            Tomasz Ireneusz ya
2002 Winter Bobsleigh     Bobsleigh Men's Four                            Tomasz Ireneusz ya

                                                                   Sex   Age  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                M  24.0
2012 Summer Judo          Judo Men's Extra-Lightweight               M  23.0
1920 Summer Football      Football Men's Football                    M  24.0
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                M  34.0
1988 Winter Speed Skating Speed Skating Women's 500 metres           F  21.0
...                                                                 ..   ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 M  29.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   M  27.0
                          Ski Jumping Men's Large Hill, Team         M  27.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       M  30.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       M  34.0

                                                                    Height  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                180.0
2012 Summer Judo          Judo Men's Extra-Lightweight               170.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres           185.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 179.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   176.0
                          Ski Jumping Men's Large Hill, Team         176.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       185.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       185.0

                                                                    Weight  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                 80.0
2012 Summer Judo          Judo Men's Extra-Lightweight                60.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres            82.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                  89.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual    59.0
                          Ski Jumping Men's Large Hill, Team          59.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                        96.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                        96.0

                                                                              Team  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                        China
2012 Summer Judo          Judo Men's Extra-Lightweight                       China
1920 Summer Football      Football Men's Football                          Denmark
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Denmark/Sweden
1988 Winter Speed Skating Speed Skating Women's 500 metres             Netherlands
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                      Poland-1
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual          Poland
                          Ski Jumping Men's Large Hill, Team                Poland
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Poland
2002 Winter Bobsleigh     Bobsleigh Men's Four                              Poland

                                                                    NOC  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               CHN
2012 Summer Judo          Judo Men's Extra-Lightweight              CHN
1920 Summer Football      Football Men's Football                   DEN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               DEN
1988 Winter Speed Skating Speed Skating Women's 500 metres          NED
...                                                                 ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                POL
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  POL
                          Ski Jumping Men's Large Hill, Team        POL
1998 Winter Bobsleigh     Bobsleigh Men's Four                      POL
2002 Winter Bobsleigh     Bobsleigh Men's Four                      POL

                                                                          Games  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               1992 Summer
2012 Summer Judo          Judo Men's Extra-Lightweight              2012 Summer
1920 Summer Football      Football Men's Football                   1920 Summer
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               1900 Summer
1988 Winter Speed Skating Speed Skating Women's 500 metres          1988 Winter
...                                                                         ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                1976 Winter
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  2014 Winter
                          Ski Jumping Men's Large Hill, Team        2014 Winter
1998 Winter Bobsleigh     Bobsleigh Men's Four                      1998 Winter
2002 Winter Bobsleigh     Bobsleigh Men's Four                      2002 Winter

                                                                              City  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    Barcelona
2012 Summer Judo          Judo Men's Extra-Lightweight                      London
1920 Summer Football      Football Men's Football                        Antwerpen
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                        Paris
1988 Winter Speed Skating Speed Skating Women's 500 metres                 Calgary
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                     Innsbruck
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual           Sochi
                          Ski Jumping Men's Large Hill, Team                 Sochi
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Nagano
2002 Winter Bobsleigh     Bobsleigh Men's Four                      Salt Lake City

                                                                   Medal
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                NaN
2012 Summer Judo          Judo Men's Extra-Lightweight               NaN
1920 Summer Football      Football Men's Football                    NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Gold
1988 Winter Speed Skating Speed Skating Women's 500 metres           NaN
...                                                                  ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 NaN
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   NaN
                          Ski Jumping Men's Large Hill, Team         NaN
1998 Winter Bobsleigh     Bobsleigh Men's Four                       NaN
2002 Winter Bobsleigh     Bobsleigh Men's Four                       NaN

[271116 rows x 11 columns]

In [68]:
%%timeit

# 2. Find the mean age for summer games.

(
    df
    .reset_index(level='Year')
    .sort_index()
    .loc['Summer', 'Age']
    .mean()
)

26 ms ± 554 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [70]:
%%timeit 

(
    df
    .xs('Summer', level='Season')
    .sort_index()
    ['Age']
    .mean()
)

24.5 ms ± 499 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [74]:
# 3. What team has won the most medals in archery?

(
    df
    .xs('Archery', level='Sport')
    .dropna(subset='Medal')
    ['Team']
    .value_counts()
)

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Netherlands            9
Chinese Taipei         9
Ukraine                8
Cincinnati Archers     8
Soviet Union           7
Japan                  7
Germany                7
Finland                6
Australia              5
Boston Archers         4
Russia                 4
Unified Team           4
Poland                 4
Potomac Archers        4
Indonesia              3
Spain                  3
Mexico                 2
Sweden                 2
Name: count, dtype: int64

In [80]:
df = df.reset_index()

(
    df
    .loc[df['Sport'] == 'Archery']
    .dropna(subset='Medal')
    ['Team']
    .value_counts()
    .head(1)
)

Team
South Korea    69
Name: count, dtype: int64

In [84]:
# 4. How tall was the tallest-ever tennis player?

df = pd.read_csv('olympic_athlete_events.csv',
                index_col=['Year', 'Season', 'Sport', 'Event'])

(
    df
    .xs('Tennis', level='Sport')
    ['Height']
    .max()
)

np.float64(208.0)

In [85]:
df.index

MultiIndex([(1992, 'Summer',    'Basketball', ...),
            (2012, 'Summer',          'Judo', ...),
            (1920, 'Summer',      'Football', ...),
            (1900, 'Summer',    'Tug-Of-War', ...),
            (1988, 'Winter', 'Speed Skating', ...),
            (1988, 'Winter', 'Speed Skating', ...),
            (1992, 'Winter', 'Speed Skating', ...),
            (1992, 'Winter', 'Speed Skating', ...),
            (1994, 'Winter', 'Speed Skating', ...),
            (1994, 'Winter', 'Speed Skating', ...),
            ...
            (2004, 'Summer',        'Hockey', ...),
            (1972, 'Summer',      'Football', ...),
            (2000, 'Summer',        'Rowing', ...),
            (2004, 'Summer',        'Rowing', ...),
            (2016, 'Summer',    'Basketball', ...),
            (1976, 'Winter',          'Luge', ...),
            (2014, 'Winter',   'Ski Jumping', ...),
            (2014, 'Winter',   'Ski Jumping', ...),
            (1998, 'Winter',     'Bobsleigh', ...),
            (2002, 'Winter',     'Bobsleigh', ...)],
           names=['Year', 'Season', 'Sport', 'Event'], length=271116)

# Sorting 

- `sort_index`
- `sort_values`

In [88]:
df = pd.read_csv('taxi.csv', index_col='tpep_pickup_datetime')
df

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [89]:
df.sort_index()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
2015-06-01 00:00:01,2,2015-06-01 00:11:29,1,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,1,21.0,0.5,0.5,5.57,5.54,0.3,33.41
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-06 16:53:56,1,2015-06-06 17:00:40,1,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,1,6.5,0.0,0.5,2.19,0.00,0.3,9.49
2015-06-06 16:53:56,2,2015-06-06 16:56:18,1,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75
2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
2015-06-06 16:53:56,2,2015-06-06 16:55:51,1,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80

In [90]:
df.sort_index(ascending=False)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80
2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
2015-06-06 16:53:56,2,2015-06-06 17:02:49,1,1.31,-73.949532,40.776760,1,N,-73.962936,40.770599,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
2015-06-06 16:53:56,2,2015-06-06 17:02:42,6,1.36,-73.989304,40.773174,1,N,-73.972092,40.763237,1,7.5,0.0,0.5,1.66,0.00,0.3,9.96
2015-06-06 16:53:56,1,2015-06-06 17:15:40,1,3.20,-73.971924,40.743896,1,N,-73.957809,40.782368,1,16.0,0.0,0.5,3.36,0.00,0.3,20.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:00:01,1,2015-06-01 00:08:26,3,1.20,-73.981827,40.770767,1,N,-73.994957,40.764378,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30

In [91]:
help(df.sort_index)

Help on method sort_index in module pandas.core.frame:

sort_index(
    *,
    axis: 'Axis' = 0,
    level: 'IndexLabel | None' = None,
    ascending: 'bool | Sequence[bool]' = True,
    inplace: 'bool' = False,
    kind: 'SortKind' = 'quicksort',
    na_position: 'NaPosition' = 'last',
    sort_remaining: 'bool' = True,
    ignore_index: 'bool' = False,
    key: 'IndexKeyFunc | None' = None
) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort object by labels (along an axis).

    Returns a new DataFrame sorted by label if `inplace` argument is
    ``False``, otherwise updates the original DataFrame and returns None.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        The axis along which to sort.  The value 0 identifies the rows,
        and 1 identifies the columns.
    level : int or level name or list of ints or list of level names
        If not None, sort on values in specified index level(s).
    ascending : bool or list-like of bools, default True
        Sort ascending vs. descending. When the index is a MultiIndex the
        sort direction can be controlled for each level individually.
    inplace : bool, default False
        Whether to modify the DataFrame rather than creating a new one.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
        Choice of sorting algorithm. See also :func:`numpy.sort` for more
        information. `mergesort` and `stable` are the only stable algorithms. For
        DataFrames, this option is only applied when sorting on a single
        column or label.
    na_position : {'first', 'last'}, default 'last'
        Puts NaNs at the beginning if `first`; `last` puts NaNs at the end.
        Not implemented for MultiIndex.
    sort_remaining : bool, default True
        If True and sorting by level and index is multilevel, sort by other
        levels too (in order) after sorting by specified level.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        If not None, apply the key function to the index values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect an
        ``Index`` and return an ``Index`` of the same shape. For MultiIndex
        inputs, the key is applied *per level*.

    Returns
    -------
    DataFrame or None
        The original DataFrame sorted by the labels or None if ``inplace=True``.

    See Also
    --------
    Series.sort_index : Sort Series by the index.
    DataFrame.sort_values : Sort DataFrame by the value.
    Series.sort_values : Sort Series by the value.

    Examples
    --------
    >>> df = pd.DataFrame([1, 2, 3, 4, 5], index=[100, 29, 234, 1, 150],
    ...                   columns=['A'])
    >>> df.sort_index()
         A
    1    4
    29   2
    100  1
    150  5
    234  3

    By default, it sorts in ascending order, to sort in descending order,
    use ``ascending=False``

    >>> df.sort_index(ascending=False)
         A
    234  3
    150  5
    100  1
    29   2
    1    4

    A key function can be specified which is applied to the index before
    sorting. For a ``MultiIndex`` this is applied to each level separately.

    >>> df = pd.DataFrame({"a": [1, 2, 3, 4]}, index=['A', 'b', 'C', 'd'])
    >>> df.sort_index(key=lambda x: x.str.lower())
       a
    A  1
    b  2
    C  3
    d  4

In [92]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [93]:
df.sort_values('trip_distance')

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:12:13,1,2015-06-01 00:13:47,1,0.00,-74.005714,40.740582,1,N,-74.005417,40.740803,3,3.00,0.5,0.5,0.00,0.00,0.3,4.30
2015-06-04 15:18:09,1,2015-06-04 15:18:09,2,0.00,-74.002953,40.749256,1,N,0.000000,0.000000,2,3.00,0.0,0.5,0.00,0.00,0.3,3.80
2015-06-02 11:23:46,2,2015-06-02 11:24:07,4,0.00,-73.956963,40.766392,1,N,-73.956970,40.766418,2,2.50,0.0,0.5,0.00,0.00,0.3,3.30
2015-06-01 00:08:03,2,2015-06-01 00:08:08,1,0.00,-73.962463,40.755138,2,N,-73.962463,40.755138,1,52.00,0.0,0.5,10.56,0.00,0.3,63.36
2015-06-01 00:07:43,1,2015-06-01 00:07:43,1,0.00,-74.007530,40.740753,1,N,0.000000,0.000000,2,5.00,0.5,0.5,0.00,0.00,0.3,6.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.00,17.29,0.3,137.59
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.00,22.83,0.3,135.13
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.00,5.84,0.3,210.14
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.00,9.75,0.3,160.05
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.00,10.00,0.3,79.96

In [94]:
df.sort_values(['trip_distance', 'total_amount'])

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:24:35,2,2015-06-02 11:24:40,1,0.00,0.000000,0.000000,1,N,-73.749077,40.707611,3,-2.50,0.0,-0.5,0.0,0.00,-0.3,-3.30
2015-06-02 11:20:23,2,2015-06-02 11:20:23,2,0.00,-73.937851,40.758236,1,N,0.000000,0.000000,2,1.50,0.0,0.5,0.0,0.00,0.3,2.30
2015-06-02 11:19:46,1,2015-06-02 12:26:33,1,0.00,-73.983200,40.766949,1,N,-73.990410,40.766872,2,2.50,0.0,0.5,0.0,0.00,0.3,3.30
2015-06-02 11:24:35,2,2015-06-02 11:24:40,1,0.00,0.000000,0.000000,1,N,-73.749077,40.707611,2,2.50,0.0,0.5,0.0,0.00,0.3,3.30
2015-06-02 11:23:46,2,2015-06-02 11:24:07,4,0.00,-73.956963,40.766392,1,N,-73.956970,40.766418,2,2.50,0.0,0.5,0.0,0.00,0.3,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.0,17.29,0.3,137.59
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.0,22.83,0.3,135.13
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.0,5.84,0.3,210.14
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.0,9.75,0.3,160.05
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.0,10.00,0.3,79.96

In [95]:
df.sort_values(['trip_distance', 'total_amount'],
              ascending=False)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.0,10.00,0.3,79.96
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.0,9.75,0.3,160.05
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.0,5.84,0.3,210.14
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.0,22.83,0.3,135.13
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.0,17.29,0.3,137.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-06 16:52:01,1,2015-06-06 16:55:03,1,0.00,-73.999268,40.730865,1,N,-73.998489,40.730442,2,2.50,0.0,0.5,0.0,0.00,0.3,3.30
2015-06-06 16:52:19,2,2015-06-06 16:52:37,6,0.00,-73.910225,40.767086,1,N,-73.910233,40.767086,2,2.50,0.0,0.5,0.0,0.00,0.3,3.30
2015-06-06 16:53:43,2,2015-06-06 16:53:50,1,0.00,-73.956078,40.785236,1,N,0.000000,0.000000,2,2.50,0.0,0.5,0.0,0.00,0.3,3.30
2015-06-02 11:20:23,2,2015-06-02 11:20:23,2,0.00,-73.937851,40.758236,1,N,0.000000,0.000000,2,1.50,0.0,0.5,0.0,0.00,0.3,2.30
2015-06-02 11:24:35,2,2015-06-02 11:24:40,1,0.00,0.000000,0.000000,1,N,-73.749077,40.707611,3,-2.50,0.0,-0.5,0.0,0.00,-0.3,-3.30

In [96]:
# trip_distance -- ascending
# total_amoujnt -- descending

df.sort_values(['trip_distance', 'total_amount'],
              ascending=[True, False])

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-04 15:20:26,1,2015-06-04 15:21:28,1,0.00,-73.790359,40.643848,5,N,-73.790375,40.643837,1,250.00,0.0,0.0,0.00,0.00,0.3,250.30
2015-06-02 11:31:23,1,2015-06-02 11:31:45,1,0.00,-73.836174,41.064606,5,N,-73.836166,41.064602,1,138.54,0.0,0.0,20.00,0.00,0.3,158.84
2015-06-04 15:17:31,2,2015-06-04 15:17:34,1,0.00,0.000000,0.000000,5,N,0.000000,0.000000,1,105.00,0.0,0.0,21.06,0.00,0.3,126.36
2015-06-06 16:51:57,1,2015-06-06 16:52:35,2,0.00,-74.072784,40.729504,5,N,-74.072784,40.729504,1,85.00,0.0,0.0,17.05,0.00,0.3,102.35
2015-06-01 00:00:26,2,2015-06-01 00:00:29,1,0.00,0.000000,0.000000,5,N,-73.985992,40.684200,1,100.00,0.0,0.5,0.00,0.00,0.3,100.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.00,17.29,0.3,137.59
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.00,22.83,0.3,135.13
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.00,5.84,0.3,210.14
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.00,9.75,0.3,160.05
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.00,10.00,0.3,79.96

In [99]:
# find the 5 longest trips

(
    df
    .sort_values('trip_distance', ascending=False)
    .head(5)
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.0,10.00,0.3,79.96
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.0,9.75,0.3,160.05
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.0,5.84,0.3,210.14
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.0,22.83,0.3,135.13
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.0,17.29,0.3,137.59

In [101]:
(
    df
    .nlargest(5, columns='trip_distance')
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.0,10.00,0.3,79.96
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.0,9.75,0.3,160.05
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.0,5.84,0.3,210.14
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.0,22.83,0.3,135.13
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.0,17.29,0.3,137.59

In [102]:
(
    df
    .nsmallest(5, columns='trip_distance')
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:21:25,1,2015-06-02 11:21:50,1,0.0,-73.978493,40.748562,1,N,-73.978493,40.748604,1,2.5,0.0,0.5,1.00,0.0,0.3,4.30
2015-06-02 11:19:46,1,2015-06-02 12:26:33,1,0.0,-73.983200,40.766949,1,N,-73.990410,40.766872,2,2.5,0.0,0.5,0.00,0.0,0.3,3.30
2015-06-02 11:20:23,2,2015-06-02 11:20:23,2,0.0,-73.937851,40.758236,1,N,0.000000,0.000000,2,1.5,0.0,0.5,0.00,0.0,0.3,2.30
2015-06-02 11:24:33,1,2015-06-02 11:24:50,1,0.0,-73.996460,40.732124,5,N,-73.996429,40.732147,1,12.0,0.0,0.0,3.05,0.0,0.3,15.35
2015-06-02 11:24:35,2,2015-06-02 11:24:40,1,0.0,0.000000,0.000000,1,N,-73.749077,40.707611,2,2.5,0.0,0.5,0.00,0.0,0.3,3.30

# Exercise: Taxi rides

1. Use `nyc_taxi_2020-07.zip` into a data frame.
2. What was the mean cost of the 20 longest rides?
3. What were the mean distance and price of the 20 rides with the most passengers?

In [104]:
df = pd.read_csv('nyc_taxi_2020-07.zip', low_memory=False)

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-07-01 00:25:32,2020-07-01 00:33:39,1.0,1.50,1.0,N,238,75,2.0,8.00,0.5,0.5,0.00,0.0,0.3,9.30,0.0
1,1.0,2020-07-01 00:03:19,2020-07-01 00:25:43,1.0,9.50,1.0,N,138,216,1.0,26.50,0.5,0.5,0.00,0.0,0.3,27.80,0.0
2,2.0,2020-07-01 00:15:11,2020-07-01 00:29:24,1.0,5.85,1.0,N,230,88,2.0,18.50,0.5,0.5,0.00,0.0,0.3,22.30,2.5
3,2.0,2020-07-01 00:30:49,2020-07-01 00:38:26,1.0,1.90,1.0,N,88,232,1.0,8.00,0.5,0.5,2.36,0.0,0.3,14.16,2.5
4,2.0,2020-07-01 00:31:26,2020-07-01 00:38:02,1.0,1.25,1.0,N,37,17,2.0,6.50,0.5,0.5,0.00,0.0,0.3,7.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800407,NaN,2020-07-19 13:27:52,2020-07-19 14:22:15,NaN,24.23,NaN,NaN,65,86,NaN,79.95,0.0,0.5,2.75,0.0,0.3,83.50,0.0
800408,NaN,2020-07-19 13:02:00,2020-07-19 13:21:00,NaN,4.40,NaN,NaN,17,35,NaN,16.23,0.0,0.5,2.75,0.0,0.3,19.78,0.0
800409,NaN,2020-07-19 13:32:00,2020-07-19 13:51:00,NaN,8.78,NaN,NaN,186,244,NaN,34.90,0.0,0.5,2.75,0.0,0.3,38.45,0.0
800410,NaN,2020-07-19 13:28:00,2020-07-19 13:51:00,NaN,6.50,NaN,NaN,148,190,NaN,18.75,0.0,0.5,7.72,0.0,0.3,29.77,2.5
800411,NaN,2020-07-19 13:31:23,2020-07-19 13:58:22,NaN,10.88,NaN,NaN,264,213,NaN,48.35,0.0,0.5,2.75,0.0,0.3,51.90,0.0

In [111]:
%%timeit

# 2. What was the mean cost of the 20 longest rides?

(
    df
    .sort_values('trip_distance', ascending=False)
    ['total_amount']
    .head(20)
    .mean()
)

98.1 ms ± 1.13 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [112]:
%%timeit

# 2. What was the mean cost of the 20 longest rides?

(
    df
    .nlargest(20, columns='trip_distance')
    ['total_amount']
    .mean()
)

24.3 ms ± 339 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [115]:
# 3. What were the mean distance and price of the 20 rides with the most passengers?

(
    df
    .nlargest(20, 'passenger_count')
    [['trip_distance', 'total_amount']]
    .mean()
)

trip_distance     2.2105
total_amount     16.3750
dtype: float64

# Grouping

In [117]:
# mean trip_distance for 0 passengers

(
    df
    .loc[df['passenger_count'] == 0, 'trip_distance']
    .mean()
)

np.float64(2.6296508766533373)

In [118]:
# mean trip_distance for 1 passenger

(
    df
    .loc[df['passenger_count'] == 1, 'trip_distance']
    .mean()
)

np.float64(2.661786190678946)

In [119]:
# groupby -- 

# df.groupby(CATEGORIAL)[NUMERIC].AGG()

(
    df
    .groupby('passenger_count')['trip_distance'].mean()
)

passenger_count
0.0    2.629651
1.0    2.661786
2.0    2.914637
3.0    2.930557
4.0    3.032374
5.0    2.780181
6.0    2.823975
7.0    2.168000
8.0    0.000000
9.0    0.000000
Name: trip_distance, dtype: float64

In [120]:
# I want the mean of both trip_distnace and total_amount

(
    df
    .groupby('passenger_count')[['trip_distance', 'total_amount']].mean()
)

                 trip_distance  total_amount
passenger_count
0.0                   2.629651     16.538912
1.0                   2.661786     16.856496
2.0                   2.914637     17.188322
3.0                   2.930557     17.103106
4.0                   3.032374     17.964939
5.0                   2.780181     16.725836
6.0                   2.823975     16.812911
7.0                   2.168000     22.456000
8.0                   0.000000     10.300000
9.0                   0.000000     11.760000

In [121]:
# VendorID and passenger_count

(
    df
    .groupby(['VendorID', 'passenger_count'])['trip_distance'].mean()
)

VendorID  passenger_count
1.0       0.0                2.633674
          1.0                2.399510
          2.0                2.999582
          3.0                3.263895
          4.0                3.990870
          5.0                2.998795
          6.0                3.311842
2.0       0.0                1.124423
          1.0                2.832988
          2.0                2.875436
          3.0                2.833936
          4.0                2.865008
          5.0                2.778039
          6.0                2.816152
          7.0                2.168000
          8.0                0.000000
          9.0                0.000000
Name: trip_distance, dtype: float64

In [122]:

(
    df
    .groupby('passenger_count')['trip_distance'].agg(['mean', 'std'])
)

                     mean       std
passenger_count
0.0              2.629651  3.726370
1.0              2.661786  3.467736
2.0              2.914637  3.586423
3.0              2.930557  3.561419
4.0              3.032374  3.831635
5.0              2.780181  3.326747
6.0              2.823975  3.624629
7.0              2.168000  4.847795
8.0              0.000000  0.000000
9.0              0.000000       NaN

In [123]:
# let's make all of them multiples!

(
    df
    .groupby(['VendorID', 'passenger_count'])[['trip_distance', 'total_amount']].agg(['mean', 'std'])
)

                         trip_distance            total_amount
                                  mean        std         mean        std
VendorID passenger_count
1.0      0.0                  2.633674   3.726734    16.512779  13.383524
         1.0                  2.399510   3.254965    17.016706  12.601732
         2.0                  2.999582   3.691625    17.578967  13.170921
         3.0                  3.263895   3.837697    18.101279  12.718772
         4.0                  3.990870   4.788418    20.140810  15.722200
         5.0                  2.998795   3.971016    17.362831  13.497523
         6.0                  3.311842  11.328168    18.659649  53.380364
2.0      0.0                  1.124423   3.287266    26.315769  23.583405
         1.0                  2.832988   3.589528    16.751919  13.423900
         2.0                  2.875436   3.536161    17.008045  13.135515
         3.0                  2.833936   3.471377    16.813775  12.803579
         4.0                  2.865008   3.613319    17.585004  22.430963
         5.0                  2.778039   3.319884    16.719594  11.667040
         6.0                  2.816152   3.360938    16.783298  11.827297
         7.0                  2.168000   4.847795    22.456000  28.234990
         8.0                  0.000000   0.000000    10.300000   2.828427
         9.0                  0.000000        NaN    11.760000        NaN

In [124]:
# let's make all of them multiples!

(
    df
    .groupby(['VendorID', 'passenger_count'])[['trip_distance', 'total_amount']].agg(['mean', 'std'])
    .xs('std', level=1, axis='columns')
)

                          trip_distance  total_amount
VendorID passenger_count
1.0      0.0                   3.726734     13.383524
         1.0                   3.254965     12.601732
         2.0                   3.691625     13.170921
         3.0                   3.837697     12.718772
         4.0                   4.788418     15.722200
         5.0                   3.971016     13.497523
         6.0                  11.328168     53.380364
2.0      0.0                   3.287266     23.583405
         1.0                   3.589528     13.423900
         2.0                   3.536161     13.135515
         3.0                   3.471377     12.803579
         4.0                   3.613319     22.430963
         5.0                   3.319884     11.667040
         6.0                   3.360938     11.827297
         7.0                   4.847795     28.234990
         8.0                   0.000000      2.828427
         9.0                        NaN           NaN

In [125]:

(
    df
    .groupby(['VendorID', 'passenger_count'])[['trip_distance', 'total_amount']].agg(['mean', 'std'])
    [('trip_distance', 'mean')]   
)

VendorID  passenger_count
1.0       0.0                2.633674
          1.0                2.399510
          2.0                2.999582
          3.0                3.263895
          4.0                3.990870
          5.0                2.998795
          6.0                3.311842
2.0       0.0                1.124423
          1.0                2.832988
          2.0                2.875436
          3.0                2.833936
          4.0                2.865008
          5.0                2.778039
          6.0                2.816152
          7.0                2.168000
          8.0                0.000000
          9.0                0.000000
Name: (trip_distance, mean), dtype: float64

# Exercise: Olympic grouping

1. Read the Olympic data into a data frame
2. How many medals did each country receive, starting in 1990? Find the 10 that got the most.
3. Find the 10 sports in which players are, on average, the tallest.
4. From 1990, find the mean height and weight for each combination of sport + team.

In [126]:
df = pd.read_csv('olympic_athlete_events.csv')

In [130]:
# 2. How many medals did each country receive, starting in 1990? Find the 10 that got the most.

(
    df
    .loc[lambda df_: df_['Year'] >= 1990]
    .groupby('Team')['Medal'].count()
    .nlargest(10)
)

Team
United States    2101
Germany          1185
Russia           1100
Australia         885
China             777
Canada            716
Italy             584
France            566
Great Britain     556
Netherlands       514
Name: Medal, dtype: int64

In [132]:
# 3. Find the 10 sports in which players are, on average, the tallest.
(
    df
    .groupby('Sport')['Height'].mean()
    .nlargest(10)
)

Sport
Basketball          190.869879
Volleyball          186.994822
Beach Volleyball    186.144954
Water Polo          184.834648
Rowing              184.172222
Handball            183.384592
Baseball            182.599291
Tug-Of-War          182.480000
Bobsleigh           181.437500
Motorboating        181.000000
Name: Height, dtype: float64

In [133]:
# 4. From 1990, find the mean height and weight for each combination of sport + team.

(
    df
    .loc[lambda df_: df_['Year'] >= 1990]
    .groupby(['Team', 'Sport'])[['Height', 'Weight']].mean()
)

                           Height     Weight
Team        Sport
Afghanistan Athletics  170.500000  59.875000
            Boxing     165.000000  60.500000
            Judo       173.000000  78.333333
            Taekwondo  184.500000  65.500000
            Wrestling         NaN        NaN
...                           ...        ...
Zimbabwe    Rowing     179.400000  75.600000
            Shooting   182.000000  80.000000
            Swimming   178.619048  68.761905
            Tennis     171.571429  67.071429
            Triathlon  186.333333  76.333333

[3702 rows x 2 columns]

# Pivot tables

- a 2D groupby!
- we create a new data frame

- index -- all different values from a categorical column
- columns -- all different values from a categorical column
- values -- values from a numeric column
- aggfunc -- aggregation method that we want to run

In [134]:
df = pd.read_csv('taxi.csv')

df.pivot_table(index='VendorID',
               columns='passenger_count',
               values='trip_distance',
               aggfunc='mean')

passenger_count,0,1,2,3,4,5,6
VendorID,,,,,,,
1,4.6,2.956456,3.452027,3.588535,3.952239,4.933333,NaN
2,NaN,3.262967,3.328849,3.187189,3.440522,3.172553,3.170976

In [135]:
df.groupby(['VendorID', 'passenger_count'])['trip_distance'].mean()

VendorID  passenger_count
1         0                  4.600000
          1                  2.956456
          2                  3.452027
          3                  3.588535
          4                  3.952239
          5                  4.933333
2         1                  3.262967
          2                  3.328849
          3                  3.187189
          4                  3.440522
          5                  3.172553
          6                  3.170976
Name: trip_distance, dtype: float64

In [136]:
df.groupby(['VendorID', 'passenger_count'])['trip_distance'].mean().unstack(level='passenger_count')

passenger_count,0,1,2,3,4,5,6
VendorID,,,,,,,
1,4.6,2.956456,3.452027,3.588535,3.952239,4.933333,NaN
2,NaN,3.262967,3.328849,3.187189,3.440522,3.172553,3.170976

In [137]:
df = pd.read_csv('taxi.csv')

df.pivot_table(index='VendorID',
               columns='passenger_count',
               values='trip_distance',
               aggfunc=['mean', 'std'])

                mean                                                    \
passenger_count    0         1         2         3         4         5
VendorID
1                4.6  2.956456  3.452027  3.588535  3.952239  4.933333
2                NaN  3.262967  3.328849  3.187189  3.440522  3.172553

                                std                                          \
passenger_count         6         0         1         2         3         4
VendorID
1                     NaN  4.666905  3.914605  4.311461  4.336901  4.178348
2                3.170976       NaN  4.143273  4.187816  3.458608  4.456196


passenger_count         5         6
VendorID
1                2.926317       NaN
2                3.974566  3.759807

In [139]:
df = pd.read_csv('taxi.csv')

df.pivot_table(index='VendorID',
               columns='passenger_count',
               values=['trip_distance', 'total_amount'],
               aggfunc='mean').T

VendorID                               1          2
              passenger_count
total_amount  0                25.570000        NaN
              1                16.941386  17.904989
              2                19.076807  17.855770
              3                19.002803  17.359076
              4                20.518657  17.927913
              5                20.466667  17.192379
              6                      NaN  17.401355
trip_distance 0                 4.600000        NaN
              1                 2.956456   3.262967
              2                 3.452027   3.328849
              3                 3.588535   3.187189
              4                 3.952239   3.440522
              5                 4.933333   3.172553
              6                      NaN   3.170976

# Exercise: Olympic pivot tables

1. Read Olympic data into a data frame.
2. We only want 1980 - the present.
3. We only want teams from Great Britain, France, Unied States, China, Israel. (`isin` can help you here)
4. Find the mean height of athletes for each sport, from each country.
5. Find the mean height of athletes for each sport, from each country, for each year. (You can decide what goes where.)

In [142]:
# 1. Read Olympic data into a data frame.
# 2. We only want 1980 - the present.
# 3. We only want teams from Great Britain, France, Unied States, China, Israel. (`isin` can help you here)
df = (pd
      .read_csv('olympic_athlete_events.csv')
      .loc[lambda df_: df_['Year'] >= 1980]
     .loc[lambda df_: df_['Team'].isin(['Great Britain', 'France',
                                       'United States', 'China', 'Israel'])]
     )
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270850,135458,Rami Zur,M,27.0,175.0,77.0,United States,USA,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",NaN
270851,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 500 metres",NaN
270852,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",NaN
271036,135538,Jonathan Zwikel,M,22.0,183.0,84.0,France,FRA,1998 Winter,1998,Winter,Nagano,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
271037,135538,Jonathan Zwikel,M,26.0,183.0,84.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN

In [ ]:
# 4. Find the mean height of athletes for each sport, from each country.

df.pivot_table(index='Sport',
              columns='Team',
              values=)

In [ ]:


# 5. Find the mean height of athletes for each sport, from each country, for each year. (You can decide what goes where.)