# Agenda

1. Indexes and multi-indexes
2. Sorting
3. Grouping
4. Pivot table

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [4]:
df.shape

(9999, 19)

In [5]:
# set_index -- 

(
    df
    .set_index('tpep_pickup_datetime')
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [7]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01 00:13:04']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:13:04,1,2015-06-01 00:30:41,1,6.1,-73.925453,40.761856,1,N,-73.962074,40.799007,2,20.0,0.5,0.5,0.00,0.0,0.3,21.30
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.8,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [8]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01 00:13:04',
            ['trip_distance', 'total_amount']]
)

                      trip_distance  total_amount
tpep_pickup_datetime
2015-06-01 00:13:04             6.1         21.30
2015-06-01 00:13:04             5.8         26.75

In [9]:
df = df.set_index('tpep_pickup_datetime')
df

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [10]:
# reset_index -- does the opposite of set_index

df.reset_index()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [11]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [12]:
df = df.reset_index()

In [13]:

df

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [14]:
df.head()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [15]:
df.loc[100:105]

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
100,2015-06-02 11:20:46,1,2015-06-02 11:25:36,1,0.70,-73.945610,40.778805,1,N,-73.955750,40.779701,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
101,2015-06-02 11:20:46,2,2015-06-02 11:59:33,1,3.46,-73.986557,40.761761,1,N,-74.003464,40.722359,1,23.5,0.0,0.5,3.50,0.0,0.3,27.80
102,2015-06-02 11:20:47,2,2015-06-02 11:30:44,2,1.14,-73.975868,40.725204,1,N,-73.989761,40.734417,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80
103,2015-06-02 11:20:48,1,2015-06-02 11:51:40,1,2.20,-73.966652,40.764923,1,N,-73.991196,40.750305,1,18.5,0.0,0.5,3.85,0.0,0.3,23.15
104,2015-06-02 11:20:49,1,2015-06-02 11:40:09,1,2.00,-73.950737,40.779007,1,N,-73.970955,40.758602,1,13.5,0.0,0.5,2.85,0.0,0.3,17.15
105,2015-06-02 11:20:49,1,2015-06-02 11:38:53,1,1.80,-73.971413,40.764534,1,N,-73.956612,40.783936,2,12.0,0.0,0.5,0.00,0.0,0.3,12.80

In [16]:
df = df.set_index('tpep_pickup_datetime')

In [17]:
df.loc['2015-06-02 11:20:46':'2015-06-02 11:20:50']

KeyError: "Cannot get left slice bound for non-unique label: '2015-06-02 11:20:46'"

In [20]:
df = df.reset_index()

In [22]:
(
    df
    .set_index('tpep_pickup_datetime')    
    .sort_index()
    .loc['2015-06-02 11:20:46':'2015-06-02 11:20:47']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:20:46,1,2015-06-02 11:30:31,1,0.70,-73.992981,40.739178,1,N,-73.984535,40.742977,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
2015-06-02 11:20:46,2,2015-06-02 11:30:51,5,1.45,-73.953415,40.766964,1,N,-73.962410,40.778263,1,8.5,0.0,0.5,2.79,0.0,0.3,12.09
2015-06-02 11:20:46,1,2015-06-02 11:27:07,1,0.90,-73.993332,40.733391,1,N,-74.005699,40.740650,1,6.0,0.0,0.5,1.35,0.0,0.3,8.15
2015-06-02 11:20:46,2,2015-06-02 11:59:33,1,3.46,-73.986557,40.761761,1,N,-74.003464,40.722359,1,23.5,0.0,0.5,3.50,0.0,0.3,27.80
2015-06-02 11:20:46,1,2015-06-02 11:25:36,1,0.70,-73.945610,40.778805,1,N,-73.955750,40.779701,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
2015-06-02 11:20:46,2,2015-06-02 11:23:52,5,0.00,-73.971809,40.764050,1,N,-73.966827,40.770039,1,4.0,0.0,0.5,1.00,0.0,0.3,5.80
2015-06-02 11:20:46,1,2015-06-02 11:50:37,1,6.00,-74.002243,40.709095,1,N,-73.965607,40.768993,2,24.0,0.0,0.5,0.00,0.0,0.3,24.80
2015-06-02 11:20:47,1,2015-06-02 11:32:14,1,0.90,-73.978035,40.755737,1,N,-73.974373,40.763294,2,8.5,0.0,0.5,0.00,0.0,0.3,9.30
2015-06-02 11:20:47,1,2015-06-02 11:39:28,1,2.60,-73.975555,40.763851,1,N,-73.969643,40.789585,1,14.0,0.0,0.5,1.00,0.0,0.3,15.80
2015-06-02 11:20:47,2,2015-06-02 11:28:03,6,0.84,-73.962547,40.767368,1,N,-73.952759,40.773300,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30
2015-06-02 11:20:47,2,2015-06-02 11:30:44,2,1.14,-73.975868,40.725204,1,N,-73.989761,40.734417,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80

In [24]:
i = (
    df
    .set_index('tpep_pickup_datetime')
    .index
)

i

Index(['2015-06-02 11:19:29', '2015-06-02 11:19:30', '2015-06-02 11:19:31',
       '2015-06-02 11:19:31', '2015-06-02 11:19:32', '2015-06-02 11:19:33',
       '2015-06-02 11:19:34', '2015-06-02 11:19:35', '2015-06-02 11:19:36',
       '2015-06-02 11:19:38',
       ...
       '2015-06-01 00:13:41', '2015-06-01 00:13:42', '2015-06-01 00:13:43',
       '2015-06-01 00:13:45', '2015-06-01 00:13:47', '2015-06-01 00:12:59',
       '2015-06-01 00:12:59', '2015-06-01 00:13:00', '2015-06-01 00:13:02',
       '2015-06-01 00:13:04'],
      dtype='object', name='tpep_pickup_datetime', length=9999)

In [25]:
dir(i)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_arith_method',
 '_assert_can_do_setop',
 '_attributes',
 '_cache',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_hold_strings',
 '_can_use_libjoin',
 '_check_indexing_error',
 '_check_indexing_method',
 '_cleanup',
 '_cmp_method',
 '_comparables',
 '_concat',
 '_construct_result',
 '_constructor',
 '_convert_can_do_setop',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_data',
 '_data_cls',
 '_default_na_rep',
 '_difference',
 '_difference_compat',
 '_dir_additions',
 '_dir_additions_for_owner',
 '_dir_deletions',
 '_drop_level_numbers',
 '_dti_setop_align_tzs',
 '_dtype_to_subclass',
 '_duplicated',
 '_engine',
 '_engine_type',
 '_engine_types',
 '_ensure_array',
 '_filter_indexer_tolerance',
 '_find_common_type_compat',
 '_format_attrs',
 '_format_data',
 '_format_duplicate_message',
 '_format_flat',
 '_format_with_header',
 '_formatter_func',
 '_from_join_target',
 '_get_default_index_names',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_indexer',
 '_get_indexer_non_comparable',
 '_get_indexer_strict',
 '_get_join_target',
 '_get_level_names',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_values_for_csv',
 '_getitem_slice',
 '_hidden_attrs',
 '_holds_integer',
 '_id',
 '_index_as_unique',
 '_inner_indexer',
 '_intersection',
 '_intersection_via_get_indexer',
 '_is_all_dates',
 '_is_comparable_dtype',
 '_is_memory_usage_qualified',
 '_is_multi',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_empty',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_via_get_indexer',
 '_left_indexer',
 '_left_indexer_unique',
 '_logical_method',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_listlike_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_check_unique',
 '_maybe_disable_logical_methods',
 '_maybe_disallow_fill',
 '_maybe_downcast_for_indexing',
 '_maybe_preserve_names',
 '_memory_usage',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_no_setting_name',
 '_outer_indexer',
 '_raise_if_missing',
 '_raise_invalid_indexer',
 '_raise_scalar_data_error',
 '_references',
 '_reindex_non_unique',
 '_rename',
 '_requires_unique_msg',
 '_reset_cache',
 '_reset_identity',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_should_compare',
 '_should_fallback_to_positional',
 '_should_partial_index',
 '_simple_new',
 '_sort_levels_monotonic',
 '_summary',
 '_supports_partial_string_indexing',
 '_transform_index',
 '_typ',
 '_unary_method',
 '_union',
 '_validate_can_reindex',
 '_validate_fill_value',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_view',
 '_with_infer',
 '_wrap_difference_result',
 '_wrap_intersection_result',
 '_wrap_joined_index',
 '_wrap_reindex_result',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asof',
 'asof_locs',
 'astype',
 'copy',
 'delete',
 'diff',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'infer_objects',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'round',
 'searchsorted',
 'set_names',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'str',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_numpy',
 'to_series',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [26]:
i.is_monotonic_increasing

False

In [27]:
df

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [31]:
(
    df
    .set_index(['VendorID', 'tpep_pickup_datetime'])
    .sort_index()
    .loc[(2, '2015-06-02 11:19:29')]   # tuple means: different parts of the multi-index
)

,,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,tpep_pickup_datetime,,,,,,,,,,,,,,,,,
2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.95443,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8

In [32]:
(
    df
    .set_index(['VendorID', 'tpep_pickup_datetime'])
    .sort_index()
    .loc[[1, 2]]    # list means: fancy indexing
)

                              tpep_dropoff_datetime  passenger_count  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00    2015-06-01 00:06:12                1
         2015-06-01 00:00:01    2015-06-01 00:08:26                3
         2015-06-01 00:00:03    2015-06-01 00:09:00                2
         2015-06-01 00:00:03    2015-06-01 00:06:37                1
         2015-06-01 00:00:04    2015-06-01 00:01:54                2
...                                             ...              ...
2        2015-06-06 16:53:56    2015-06-06 16:55:51                1
         2015-06-06 16:53:56    2015-06-06 17:02:49                1
         2015-06-06 16:53:56    2015-06-06 17:02:42                6
         2015-06-06 16:53:56    2015-06-06 17:54:22                1
         2015-06-06 16:53:56    2015-06-06 16:56:18                1

                               trip_distance  pickup_longitude  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00            1.00        -73.988739
         2015-06-01 00:00:01            1.20        -73.981827
         2015-06-01 00:00:03            1.80        -73.985794
         2015-06-01 00:00:03            0.80        -73.995377
         2015-06-01 00:00:04            0.50        -73.993965
...                                      ...               ...
2        2015-06-06 16:53:56            0.76        -73.977509
         2015-06-06 16:53:56            1.31        -73.949532
         2015-06-06 16:53:56            1.36        -73.989304
         2015-06-06 16:53:56           17.36        -73.790520
         2015-06-06 16:53:56            0.58        -73.949013

                               pickup_latitude  RateCodeID store_and_fwd_flag  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00         40.756832           1                  N
         2015-06-01 00:00:01         40.770767           1                  N
         2015-06-01 00:00:03         40.752808           1                  N
         2015-06-01 00:00:03         40.688141           1                  N
         2015-06-01 00:00:04         40.761684           1                  N
...                                        ...         ...                ...
2        2015-06-06 16:53:56         40.784252           1                  N
         2015-06-06 16:53:56         40.776760           1                  N
         2015-06-06 16:53:56         40.773174           1                  N
         2015-06-06 16:53:56         40.646461           2                  N
         2015-06-06 16:53:56         40.788616           1                  N

                               dropoff_longitude  dropoff_latitude  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00          -73.974701         40.757038
         2015-06-01 00:00:01          -73.994957         40.764378
         2015-06-01 00:00:03          -74.003029         40.733280
         2015-06-01 00:00:03          -73.987328         40.696350
         2015-06-01 00:00:04          -73.989525         40.767765
...                                          ...               ...
2        2015-06-06 16:53:56          -73.970848         40.793365
         2015-06-06 16:53:56          -73.962936         40.770599
         2015-06-06 16:53:56          -73.972092         40.763237
         2015-06-06 16:53:56          -73.969048         40.763062
         2015-06-06 16:53:56          -73.952942         40.781727

                               payment_type  fare_amount  extra  mta_tax  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00              2          6.0    0.5      0.5
         2015-06-01 00:00:01              2          7.5    0.5      0.5
         2015-06-01 00:00:03              2          8.5    0.5      0.5
         2015-06-01 00:00:03              2          6.5    0.5      0.5
         2015-06-01 00:00:04              2          3.5    0.5      0.5
...                                     ...          ...    ...      ...
2        2015-06-06 16:53:56              2          4.0    0.0      0.5
         2015-06-06 16:53:56              2          8.0    0.0      0.5
         2015-06-06 16:53:56              1          7.5    0.0      0.5
         2015-06-06 16:53:56              1         52.0    0.0      0.5
         2015-06-06 16:53:56              1          4.0    0.0      0.5

                               tip_amount  tolls_amount  \
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00         0.00          0.00
         2015-06-01 00:00:01         0.00          0.00
         2015-06-01 00:00:03         0.00          0.00
         2015-06-01 00:00:03         0.00          0.00
         2015-06-01 00:00:04         0.00          0.00
...                                   ...           ...
2        2015-06-06 16:53:56         0.00          0.00
         2015-06-06 16:53:56         0.00          0.00
         2015-06-06 16:53:56         1.66          0.00
         2015-06-06 16:53:56        10.66          5.54
         2015-06-06 16:53:56         0.95          0.00

                               improvement_surcharge  total_amount
VendorID tpep_pickup_datetime
1        2015-06-01 00:00:00                     0.3          7.30
         2015-06-01 00:00:01                     0.3          8.80
         2015-06-01 00:00:03                     0.3          9.80
         2015-06-01 00:00:03                     0.3          7.80
         2015-06-01 00:00:04                     0.3          4.80
...                                              ...           ...
2        2015-06-06 16:53:56                     0.3          4.80
         2015-06-06 16:53:56                     0.3          8.80
         2015-06-06 16:53:56                     0.3          9.96
         2015-06-06 16:53:56                     0.3         69.00
         2015-06-06 16:53:56                     0.3          5.75

[9999 rows x 17 columns]

In [33]:
(
    df
    .set_index(['VendorID', 'tpep_pickup_datetime'])
    .sort_index()
    .loc[[2, '2015-06-02 11:19:29']]   # using a list, rather than a tuple, results in an error
)

KeyError: "['2015-06-02 11:19:29'] not in index"

In [36]:
# set the multi-index with read_csv

df = (
    pd
    .read_csv('taxi.csv',
             index_col=['VendorID', 'tpep_pickup_datetime'])
)

df

                              tpep_dropoff_datetime  passenger_count  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29    2015-06-02 11:47:52                1
         2015-06-02 11:19:30    2015-06-02 11:27:56                1
         2015-06-02 11:19:31    2015-06-02 11:30:30                1
         2015-06-02 11:19:31    2015-06-02 11:39:02                1
1        2015-06-02 11:19:32    2015-06-02 11:32:49                1
...                                             ...              ...
         2015-06-01 00:12:59    2015-06-01 00:24:18                1
         2015-06-01 00:12:59    2015-06-01 00:28:16                1
2        2015-06-01 00:13:00    2015-06-01 00:37:25                1
         2015-06-01 00:13:02    2015-06-01 00:19:10                6
1        2015-06-01 00:13:04    2015-06-01 00:36:33                1

                               trip_distance  pickup_longitude  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29            1.63        -73.954430
         2015-06-02 11:19:30            0.46        -73.971443
         2015-06-02 11:19:31            0.87        -73.978111
         2015-06-02 11:19:31            2.13        -73.945892
1        2015-06-02 11:19:32            1.40        -73.979088
...                                      ...               ...
         2015-06-01 00:12:59            2.70        -73.947792
         2015-06-01 00:12:59            4.50        -74.004066
2        2015-06-01 00:13:00            5.59        -73.994377
         2015-06-01 00:13:02            1.54        -73.978302
1        2015-06-01 00:13:04            5.80        -73.983215

                               pickup_latitude  RateCodeID store_and_fwd_flag  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29         40.764141           1                  N
         2015-06-02 11:19:30         40.758942           1                  N
         2015-06-02 11:19:31         40.738434           1                  N
         2015-06-02 11:19:31         40.773529           1                  N
1        2015-06-02 11:19:32         40.776772           1                  N
...                                        ...         ...                ...
         2015-06-01 00:12:59         40.814972           1                  N
         2015-06-01 00:12:59         40.747818           1                  N
2        2015-06-01 00:13:00         40.766102           1                  N
         2015-06-01 00:13:02         40.748531           1                  N
1        2015-06-01 00:13:04         40.726414           1                  N

                               dropoff_longitude  dropoff_latitude  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29          -73.974754         40.754093
         2015-06-02 11:19:30          -73.978539         40.761909
         2015-06-02 11:19:31          -73.990273         40.745438
         2015-06-02 11:19:31          -73.971527         40.760330
1        2015-06-02 11:19:32          -73.982162         40.758999
...                                          ...               ...
         2015-06-01 00:12:59          -73.973358         40.783638
         2015-06-01 00:12:59          -73.953758         40.779285
2        2015-06-01 00:13:00          -73.903206         40.750546
         2015-06-01 00:13:02          -73.989166         40.762852
1        2015-06-01 00:13:04          -73.924133         40.701645

                               payment_type  fare_amount  extra  mta_tax  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29              2         17.0    0.0      0.5
         2015-06-02 11:19:30              1          6.5    0.0      0.5
         2015-06-02 11:19:31              1          8.0    0.0      0.5
         2015-06-02 11:19:31              1         13.5    0.0      0.5
1        2015-06-02 11:19:32              2          9.5    0.0      0.5
...                                     ...          ...    ...      ...
         2015-06-01 00:12:59              2         11.0    0.5      0.5
         2015-06-01 00:12:59              1         16.0    0.5      0.5
2        2015-06-01 00:13:00              2         21.0    0.5      0.5
         2015-06-01 00:13:02              2          6.5    0.5      0.5
1        2015-06-01 00:13:04              1         21.0    0.5      0.5

                               tip_amount  tolls_amount  \
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29         0.00           0.0
         2015-06-02 11:19:30         1.00           0.0
         2015-06-02 11:19:31         2.20           0.0
         2015-06-02 11:19:31         2.86           0.0
1        2015-06-02 11:19:32         0.00           0.0
...                                   ...           ...
         2015-06-01 00:12:59         0.00           0.0
         2015-06-01 00:12:59         3.00           0.0
2        2015-06-01 00:13:00         0.00           0.0
         2015-06-01 00:13:02         0.00           0.0
1        2015-06-01 00:13:04         4.45           0.0

                               improvement_surcharge  total_amount
VendorID tpep_pickup_datetime
2        2015-06-02 11:19:29                     0.3         17.80
         2015-06-02 11:19:30                     0.3          8.30
         2015-06-02 11:19:31                     0.3         11.00
         2015-06-02 11:19:31                     0.3         17.16
1        2015-06-02 11:19:32                     0.3         10.30
...                                              ...           ...
         2015-06-01 00:12:59                     0.3         12.30
         2015-06-01 00:12:59                     0.3         20.30
2        2015-06-01 00:13:00                     0.3         22.30
         2015-06-01 00:13:02                     0.3          7.80
1        2015-06-01 00:13:04                     0.3         26.75

[9999 rows x 17 columns]

In [39]:
# what if I want those rows where tpep_pickup_datetime is '2015-06-02 11:19:29'?

(
    df 
    .reset_index(level='VendorID')
    .loc['2015-06-02 11:19:29']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
2015-06-02 11:19:29,1,2015-06-02 11:26:06,1,1.10,-74.005524,40.725693,1,N,-73.992691,40.732224,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
2015-06-02 11:19:29,1,2015-06-02 11:22:47,1,0.40,-73.975044,40.790031,1,N,-73.975517,40.787106,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8

In [40]:

(
    df 
    .reset_index(level=0)
    .loc['2015-06-02 11:19:29']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
2015-06-02 11:19:29,1,2015-06-02 11:26:06,1,1.10,-74.005524,40.725693,1,N,-73.992691,40.732224,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
2015-06-02 11:19:29,1,2015-06-02 11:22:47,1,0.40,-73.975044,40.790031,1,N,-73.975517,40.787106,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8

In [41]:
# use .xs (cross section)

(
    df 
    .xs('2015-06-02 11:19:29', level='tpep_pickup_datetime')
)

,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,,,,,,,,,,,,,,,,,
2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8
1,2015-06-02 11:26:06,1,1.10,-74.005524,40.725693,1,N,-73.992691,40.732224,2,6.5,0.0,0.5,0.0,0.0,0.3,7.3
1,2015-06-02 11:22:47,1,0.40,-73.975044,40.790031,1,N,-73.975517,40.787106,2,4.0,0.0,0.5,0.0,0.0,0.3,4.8

In [42]:
(
    df 
    .loc[2]
)

,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.0,0.3,15.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:13:42,2015-06-01 00:34:32,1,6.07,-73.979309,40.723488,1,N,-73.958405,40.673611,1,20.0,0.5,0.5,5.32,0.0,0.3,26.62
2015-06-01 00:13:43,2015-06-01 00:21:49,1,1.48,-73.988739,40.756950,1,N,-73.976860,40.743309,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
2015-06-01 00:13:45,2015-06-01 00:36:43,1,6.37,-74.006752,40.744141,1,N,-73.922806,40.764030,2,22.0,0.5,0.5,0.00,0.0,0.3,23.30
2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80

In [44]:
# use .xs (cross section)

(
    df 
    .xs((2, '2015-06-02 11:19:29'), 
        level=['VendorID', 'tpep_pickup_datetime'])
)

,,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,tpep_pickup_datetime,,,,,,,,,,,,,,,,,
2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.95443,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.0,0.0,0.3,17.8

In [48]:
df = pd.read_csv('taxi.csv',
                index_col=['VendorID', 'passenger_count', 'tpep_pickup_datetime'])
df

                                              tpep_dropoff_datetime  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29    2015-06-02 11:47:52
                         2015-06-02 11:19:30    2015-06-02 11:27:56
                         2015-06-02 11:19:31    2015-06-02 11:30:30
                         2015-06-02 11:19:31    2015-06-02 11:39:02
1        1               2015-06-02 11:19:32    2015-06-02 11:32:49
...                                                             ...
                         2015-06-01 00:12:59    2015-06-01 00:24:18
                         2015-06-01 00:12:59    2015-06-01 00:28:16
2        1               2015-06-01 00:13:00    2015-06-01 00:37:25
         6               2015-06-01 00:13:02    2015-06-01 00:19:10
1        1               2015-06-01 00:13:04    2015-06-01 00:36:33

                                               trip_distance  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29            1.63
                         2015-06-02 11:19:30            0.46
                         2015-06-02 11:19:31            0.87
                         2015-06-02 11:19:31            2.13
1        1               2015-06-02 11:19:32            1.40
...                                                      ...
                         2015-06-01 00:12:59            2.70
                         2015-06-01 00:12:59            4.50
2        1               2015-06-01 00:13:00            5.59
         6               2015-06-01 00:13:02            1.54
1        1               2015-06-01 00:13:04            5.80

                                               pickup_longitude  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29         -73.954430
                         2015-06-02 11:19:30         -73.971443
                         2015-06-02 11:19:31         -73.978111
                         2015-06-02 11:19:31         -73.945892
1        1               2015-06-02 11:19:32         -73.979088
...                                                         ...
                         2015-06-01 00:12:59         -73.947792
                         2015-06-01 00:12:59         -74.004066
2        1               2015-06-01 00:13:00         -73.994377
         6               2015-06-01 00:13:02         -73.978302
1        1               2015-06-01 00:13:04         -73.983215

                                               pickup_latitude  RateCodeID  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29         40.764141           1
                         2015-06-02 11:19:30         40.758942           1
                         2015-06-02 11:19:31         40.738434           1
                         2015-06-02 11:19:31         40.773529           1
1        1               2015-06-02 11:19:32         40.776772           1
...                                                        ...         ...
                         2015-06-01 00:12:59         40.814972           1
                         2015-06-01 00:12:59         40.747818           1
2        1               2015-06-01 00:13:00         40.766102           1
         6               2015-06-01 00:13:02         40.748531           1
1        1               2015-06-01 00:13:04         40.726414           1

                                              store_and_fwd_flag  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29                   N
                         2015-06-02 11:19:30                   N
                         2015-06-02 11:19:31                   N
                         2015-06-02 11:19:31                   N
1        1               2015-06-02 11:19:32                   N
...                                                          ...
                         2015-06-01 00:12:59                   N
                         2015-06-01 00:12:59                   N
2        1               2015-06-01 00:13:00                   N
         6               2015-06-01 00:13:02                   N
1        1               2015-06-01 00:13:04                   N

                                               dropoff_longitude  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          -73.974754
                         2015-06-02 11:19:30          -73.978539
                         2015-06-02 11:19:31          -73.990273
                         2015-06-02 11:19:31          -73.971527
1        1               2015-06-02 11:19:32          -73.982162
...                                                          ...
                         2015-06-01 00:12:59          -73.973358
                         2015-06-01 00:12:59          -73.953758
2        1               2015-06-01 00:13:00          -73.903206
         6               2015-06-01 00:13:02          -73.989166
1        1               2015-06-01 00:13:04          -73.924133

                                               dropoff_latitude  payment_type  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          40.754093             2
                         2015-06-02 11:19:30          40.761909             1
                         2015-06-02 11:19:31          40.745438             1
                         2015-06-02 11:19:31          40.760330             1
1        1               2015-06-02 11:19:32          40.758999             2
...                                                         ...           ...
                         2015-06-01 00:12:59          40.783638             2
                         2015-06-01 00:12:59          40.779285             1
2        1               2015-06-01 00:13:00          40.750546             2
         6               2015-06-01 00:13:02          40.762852             2
1        1               2015-06-01 00:13:04          40.701645             1

                                               fare_amount  extra  mta_tax  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          17.0    0.0      0.5
                         2015-06-02 11:19:30           6.5    0.0      0.5
                         2015-06-02 11:19:31           8.0    0.0      0.5
                         2015-06-02 11:19:31          13.5    0.0      0.5
1        1               2015-06-02 11:19:32           9.5    0.0      0.5
...                                                    ...    ...      ...
                         2015-06-01 00:12:59          11.0    0.5      0.5
                         2015-06-01 00:12:59          16.0    0.5      0.5
2        1               2015-06-01 00:13:00          21.0    0.5      0.5
         6               2015-06-01 00:13:02           6.5    0.5      0.5
1        1               2015-06-01 00:13:04          21.0    0.5      0.5

                                               tip_amount  tolls_amount  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29         0.00           0.0
                         2015-06-02 11:19:30         1.00           0.0
                         2015-06-02 11:19:31         2.20           0.0
                         2015-06-02 11:19:31         2.86           0.0
1        1               2015-06-02 11:19:32         0.00           0.0
...                                                   ...           ...
                         2015-06-01 00:12:59         0.00           0.0
                         2015-06-01 00:12:59         3.00           0.0
2        1               2015-06-01 00:13:00         0.00           0.0
         6               2015-06-01 00:13:02         0.00           0.0
1        1               2015-06-01 00:13:04         4.45           0.0

                                               improvement_surcharge  \
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29                     0.3
                         2015-06-02 11:19:30                     0.3
                         2015-06-02 11:19:31                     0.3
                         2015-06-02 11:19:31                     0.3
1        1               2015-06-02 11:19:32                     0.3
...                                                              ...
                         2015-06-01 00:12:59                     0.3
                         2015-06-01 00:12:59                     0.3
2        1               2015-06-01 00:13:00                     0.3
         6               2015-06-01 00:13:02                     0.3
1        1               2015-06-01 00:13:04                     0.3

                                               total_amount
VendorID passenger_count tpep_pickup_datetime
2        1               2015-06-02 11:19:29          17.80
                         2015-06-02 11:19:30           8.30
                         2015-06-02 11:19:31          11.00
                         2015-06-02 11:19:31          17.16
1        1               2015-06-02 11:19:32          10.30
...                                                     ...
                         2015-06-01 00:12:59          12.30
                         2015-06-01 00:12:59          20.30
2        1               2015-06-01 00:13:00          22.30
         6               2015-06-01 00:13:02           7.80
1        1               2015-06-01 00:13:04          26.75

[9999 rows x 16 columns]

In [49]:
# VendorID 2, passenger_count 4

df.loc[(2, 4)]

/var/folders/n7/3xckdj8j3dz45qz4xnlk1fy40000gn/T/ipykernel_18024/595134325.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[(2, 4)]

,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,
2015-06-02 11:20:50,2015-06-02 11:33:48,1.48,-73.965858,40.758888,1,N,-73.965858,40.758888,1,10.0,0.0,0.5,2.16,0.00,0.3,12.96
2015-06-02 11:21:07,2015-06-02 11:44:10,3.46,-73.981262,40.749622,1,N,-74.010216,40.720074,1,16.0,0.0,0.5,3.36,0.00,0.3,20.16
2015-06-02 11:21:09,2015-06-02 11:24:48,0.63,-73.962616,40.772381,1,N,-73.957092,40.780083,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
2015-06-02 11:24:08,2015-06-02 11:58:39,7.60,-73.980476,40.781582,1,N,-73.993942,40.715599,1,27.5,0.0,0.5,5.66,0.00,0.3,33.96
2015-06-02 11:20:14,2015-06-02 11:49:18,3.22,-73.970375,40.763157,1,N,-74.005287,40.740295,2,18.5,0.0,0.5,0.00,0.00,0.3,19.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:09:16,2015-06-01 00:16:36,2.14,-73.981934,40.740349,1,N,-73.959839,40.760891,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
2015-06-01 00:09:45,2015-06-01 00:14:15,0.98,-73.906189,40.875614,1,N,-73.908005,40.864998,1,5.5,0.5,0.5,0.00,0.00,0.3,6.80
2015-06-01 00:10:30,2015-06-01 00:29:26,7.44,-73.870895,40.773777,1,N,-73.957672,40.802906,1,23.0,0.5,0.5,5.97,5.54,0.3,35.81
2015-06-01 00:10:46,2015-06-01 00:17:33,1.38,-73.986282,40.755833,1,N,-73.985001,40.768688,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
2015-06-01 00:12:39,2015-06-01 00:39:03,17.34,-73.788551,40.642056,2,N,-73.982697,40.745148,1,52.0,0.0,0.5,11.67,5.54,0.3,70.01

In [50]:
df.xs((2, 4),
     level=['VendorID', 'passenger_count'])

,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,
2015-06-02 11:20:50,2015-06-02 11:33:48,1.48,-73.965858,40.758888,1,N,-73.965858,40.758888,1,10.0,0.0,0.5,2.16,0.00,0.3,12.96
2015-06-02 11:21:07,2015-06-02 11:44:10,3.46,-73.981262,40.749622,1,N,-74.010216,40.720074,1,16.0,0.0,0.5,3.36,0.00,0.3,20.16
2015-06-02 11:21:09,2015-06-02 11:24:48,0.63,-73.962616,40.772381,1,N,-73.957092,40.780083,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
2015-06-02 11:24:08,2015-06-02 11:58:39,7.60,-73.980476,40.781582,1,N,-73.993942,40.715599,1,27.5,0.0,0.5,5.66,0.00,0.3,33.96
2015-06-02 11:20:14,2015-06-02 11:49:18,3.22,-73.970375,40.763157,1,N,-74.005287,40.740295,2,18.5,0.0,0.5,0.00,0.00,0.3,19.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:09:16,2015-06-01 00:16:36,2.14,-73.981934,40.740349,1,N,-73.959839,40.760891,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
2015-06-01 00:09:45,2015-06-01 00:14:15,0.98,-73.906189,40.875614,1,N,-73.908005,40.864998,1,5.5,0.5,0.5,0.00,0.00,0.3,6.80
2015-06-01 00:10:30,2015-06-01 00:29:26,7.44,-73.870895,40.773777,1,N,-73.957672,40.802906,1,23.0,0.5,0.5,5.97,5.54,0.3,35.81
2015-06-01 00:10:46,2015-06-01 00:17:33,1.38,-73.986282,40.755833,1,N,-73.985001,40.768688,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
2015-06-01 00:12:39,2015-06-01 00:39:03,17.34,-73.788551,40.642056,2,N,-73.982697,40.745148,1,52.0,0.0,0.5,11.67,5.54,0.3,70.01

In [ ]:
df.xs((2, '2015-06-02 11:20:50'),
     level=['passenger_count', ])

In [54]:
# https://files.lerner.co.il/all-data-exercise-files.zip

In [55]:
!head olympic_athlete_events.csv

"ID","Name","Sex","Age","Height","Weight","Team","NOC","Games","Year","Season","City","Sport","Event","Medal"
"1","A Dijiang","M",24,180,80,"China","CHN","1992 Summer",1992,"Summer","Barcelona","Basketball","Basketball Men's Basketball",NA
"2","A Lamusi","M",23,170,60,"China","CHN","2012 Summer",2012,"Summer","London","Judo","Judo Men's Extra-Lightweight",NA
"3","Gunnar Nielsen Aaby","M",24,NA,NA,"Denmark","DEN","1920 Summer",1920,"Summer","Antwerpen","Football","Football Men's Football",NA
"4","Edgar Lindenau Aabye","M",34,NA,NA,"Denmark/Sweden","DEN","1900 Summer",1900,"Summer","Paris","Tug-Of-War","Tug-Of-War Men's Tug-Of-War","Gold"
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",27,185,82,"Netherlands","NED","1994 Winter",1994,"Winter","Lillehammer","Speed Skating","Speed Skating Women's 500 metres",NA

# Exercise: Olympic data

1. Create a data frame from this data. Use four columns for the index: `Year`, `Season`, `Sport`, `Event`.
2. Find the mean age for summer games.
3. What team has won the most medals in archery?
4. How tall was the tallest-ever tennis player?

In [ ]:
df = pd.read_csv('olympic_athlete_events.csv',
                index_col=['Year', 'Season', 'Sport', 'e'])