# Pandas series

1. Creating a series
2. Indexes (Pandas vs. NumPy)
3. `.loc` and `.iloc`
4. dtypes
5. `nan` and Pandas
6. Methods, mask indexes

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
a = np.array([10, 20, 30, 40, 50], dtype=np.int8)
a

array([10, 20, 30, 40, 50], dtype=int8)

In [3]:
# Create a series in a similar way

s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
# NumPy methods work!

In [5]:
s.min()

np.int64(10)

In [6]:
s.max()

np.int64(50)

In [7]:
s.mean()

np.float64(30.0)

In [8]:
s.std()

np.float64(15.811388300841896)

In [9]:
# retrieve values from our series with []
s[2]

np.int64(30)

In [10]:
# fancy indexing

s[ [2, 4] ]

2    30
4    50
dtype: int64

In [11]:
s[ [2 ]]

2    30
dtype: int64

In [12]:
# comparisons

s == 30

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [13]:
# mask index / boolean index
s[ s == 30  ]

2    30
dtype: int64

In [15]:
s[ s <= 30]

0    10
1    20
2    30
dtype: int64

In [16]:
s = Series(a)
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

# Exercise: Pandas series

1. Create a series for the expected high temperatures in the next 10 days.
2. What are the min and max high temperatures?
3. On how many days will we have temperatures below the mean?
4. What is the mean in the first 5 days? In the last 5 days?

In [17]:
s = Series([18, 15, 12, 11, 10, 9, 12, 15, 17, 18])
s

0    18
1    15
2    12
3    11
4    10
5     9
6    12
7    15
8    17
9    18
dtype: int64

In [18]:
# 2. What are the min and max high temperatures?

s.min()

np.int64(9)

In [20]:
s.max()

np.int64(18)

In [21]:
help(s.max)

Help on method max in module pandas.core.series:

max(
    axis: 'Axis | None' = 0,
    skipna: 'bool' = True,
    numeric_only: 'bool' = False,
    **kwargs
) method of pandas.core.series.Series instance
    Return the maximum of the values over the requested axis.

    If you want the *index* of the maximum, use ``idxmax``. This is the equivalent of the ``numpy.ndarray`` method ``argmax``.

    Parameters
    ----------
    axis : {index (0)}
        Axis for the function to be applied on.
        For `Series` this parameter is unused and defaults to 0.

        For DataFrames, specifying ``axis=None`` will apply the aggregation
        across both axes.

        .. versionadded:: 2.0.0

    skipna : bool, default True
        Exclude NA/null values when computing the result.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    scalar or scalar

    See Also
    --------
    Series.sum : Return the sum.
    Series.min : Return the minimum.
    Series.max : Return the maximum.
    Series.idxmin : Return the index of the minimum.
    Series.idxmax : Return the index of the maximum.
    DataFrame.sum : Return the sum over the requested axis.
    DataFrame.min : Return the minimum over the requested axis.
    DataFrame.max : Return the maximum over the requested axis.
    DataFrame.idxmin : Return the index of the minimum over the requested axis.
    DataFrame.idxmax : Return the index of the maximum over the requested axis.

    Examples
    --------
    >>> idx = pd.MultiIndex.from_arrays([
    ...     ['warm', 'warm', 'cold', 'cold'],
    ...     ['dog', 'falcon', 'fish', 'spider']],
    ...     names=['blooded', 'animal'])
    >>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
    >>> s
    blooded  animal
    warm     dog       4
             falcon    2
    cold     fish      0
             spider    8
    Name: legs, dtype: int64

    >>> s.max()
    8

In [22]:
s.describe()

count    10.000
mean     13.700
std       3.335
min       9.000
25%      11.250
50%      13.500
75%      16.500
max      18.000
dtype: float64

In [23]:
s.agg(['min', 'max'])

min     9
max    18
dtype: int64

In [25]:
s.describe()[['min', 'max']]

min     9.0
max    18.0
dtype: float64

In [29]:
# 3. On how many days will we have temperatures below the mean?

s[s < s.mean()].count()

np.int64(5)

In [31]:
# 4. What is the mean in the first 5 days? In the last 5 days?

s[:5].mean()

np.float64(13.2)

In [32]:
s[5:].mean()

np.float64(14.2)

In [34]:
s.describe()

count    10.000
mean     13.700
std       3.335
min       9.000
25%      11.250
50%      13.500
75%      16.500
max      18.000
dtype: float64

In [35]:
s.describe()['count']

np.float64(10.0)

In [36]:
s.describe()['mean']

np.float64(13.7)

In [37]:
s.describe()[['count', 'mean']]

count    10.0
mean     13.7
dtype: float64

In [38]:
n = s.describe()['mean']

In [39]:
n

np.float64(13.7)

In [41]:
int(n) + 5

18

In [43]:
s.agg('mean', 'std')

ValueError: No axis named std for object type Series

In [44]:
s = Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
           index=list('abcdefghij'))
s

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

# `.loc` and `.iloc`

- `.loc` retrieves by index
- `.iloc` retrieves by numeric position

In [46]:
s

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [47]:
s.loc['a']

np.int64(10)

In [48]:
s.loc[['b', 'd', 'c']]

b    20
d    40
c    30
dtype: int64

In [50]:
# .loc + slices -- the end point is included!
s.loc['d':'g']

d    40
e    50
f    60
g    70
dtype: int64

In [51]:
s.loc['b'] = 999
s

a     10
b    999
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [52]:
s.iloc[4]

np.int64(50)

In [53]:
s.iloc[5]

np.int64(60)

In [54]:
s.iloc[[4, 5]]

e    50
f    60
dtype: int64

In [55]:
s.iloc[2:7]

c    30
d    40
e    50
f    60
g    70
dtype: int64

In [56]:
s.iloc[7] = 888

In [57]:
s

a     10
b    999
c     30
d     40
e     50
f     60
g     70
h    888
i     90
j    100
dtype: int64

In [58]:
s.tail(1)

j    100
dtype: int64

In [59]:
s2 = Series([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
           index=list('jihgfedcba'))

In [60]:
s + s

a      20
b    1998
c      60
d      80
e     100
f     120
g     140
h    1776
i     180
j     200
dtype: int64

In [61]:
s + 10   # broadcast

a      20
b    1009
c      40
d      50
e      60
f      70
g      80
h     898
i     100
j     110
dtype: int64

In [62]:
s + s2

a    1010
b    1899
c     830
d     740
e     650
f     560
g     470
h    1188
i     290
j     200
dtype: int64

In [63]:
s / s2

a    0.010000
b    1.110000
c    0.037500
d    0.057143
e    0.083333
f    0.120000
g    0.175000
h    2.960000
i    0.450000
j    1.000000
dtype: float64

In [64]:
s * s2

a     10000
b    899100
c     24000
d     28000
e     30000
f     30000
g     28000
h    266400
i     18000
j     10000
dtype: int64

In [65]:
s ** s2

a                      0
b    1697842202855098849
c                      0
d                      0
e                      0
f                      0
g                      0
h                      0
i                      0
j                      0
dtype: int64

# Exercise: Series + index

1. Define two series, `highs` and `lows`, with 10 days of expected temperatures. Each index should be in MMDD format, as a string (so `0218` would be today.)
2. What is the predicted mean difference in temperature?
3. What is the predicted mean difference in temperature on the first 5 days? Do this in two ways, with `.loc` and `.iloc`.

In [66]:
highs = Series([18, 15, 12, 11, 10, 9, 11, 15, 17, 18],
              index='0218 0219 0220 0221 0222 0223 0224 0225 0226 0227'.split())
lows = Series([10, 8, 7, 5, 3, 2, 3, 6, 6, 7],
              index='0218 0219 0220 0221 0222 0223 0224 0225 0226 0227'.split())

In [67]:
[f'02{day}'
for day in range(18, 28)]

['0218',
 '0219',
 '0220',
 '0221',
 '0222',
 '0223',
 '0224',
 '0225',
 '0226',
 '0227']

In [69]:
# 2. What is the predicted mean difference in temperature?

(highs - lows).mean()

np.float64(7.9)

In [70]:
# 3. What is the predicted mean difference in temperature on the first 5 days? Do this in two ways, with `.loc` and `.iloc`.

# loc
(highs.loc[:'0222'] - lows.loc[:'0222']).mean()

np.float64(6.6)

In [72]:
(highs.iloc[:5] - lows.iloc[:5]).mean()

np.float64(6.6)

In [73]:
(highs - lows).iloc[:5].mean()

np.float64(6.6)

In [75]:
# method chaining

(
    (highs - lows)
    .iloc[:5]
    .mean()
)

np.float64(6.6)

In [77]:
s = Series([10, 20, 30, 40, 50, 60, 70, 80],
           index=list('abcdeabc'))
s

a    10
b    20
c    30
d    40
e    50
a    60
b    70
c    80
dtype: int64

In [78]:
s.loc['a']

a    10
a    60
dtype: int64

In [79]:
s.loc['e']

np.int64(50)

In [80]:
s.loc['a'] = 999
s

a    999
b     20
c     30
d     40
e     50
a    999
b     70
c     80
dtype: int64

In [81]:
s.loc['b':'c']

KeyError: "Cannot get left slice bound for non-unique label: 'b'"

In [82]:
s

a    999
b     20
c     30
d     40
e     50
a    999
b     70
c     80
dtype: int64

In [83]:
s1 = Series([10, 20, 30, 40],
           index=list('abcd'))
s2 = Series([100, 200, 300, 400],
           index=list('abcc'))

s1 + s2

a    110.0
b    220.0
c    330.0
c    430.0
d      NaN
dtype: float64

In [84]:
# what if I want a default of 0?

s1.add(s2)

a    110.0
b    220.0
c    330.0
c    430.0
d      NaN
dtype: float64

In [85]:
s2 + s1

a    110.0
b    220.0
c    330.0
c    430.0
d      NaN
dtype: float64

In [86]:
help(s1.add)

Help on method add in module pandas.core.series:

add(other, level=None, fill_value=None, axis: 'Axis' = 0) -> 'Series' method of pandas.core.series.Series instance
    Return Addition of series and other, element-wise (binary operator `add`).

    Equivalent to ``series + other``, but with support to substitute a fill_value for
    missing data in either one of the inputs.

    Parameters
    ----------
    other : Series or scalar value
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    fill_value : None or float value, default None (NaN)
        Fill existing missing (NaN) values, and any new element needed for
        successful Series alignment, with this value before computation.
        If data in both corresponding Series locations is missing
        the result of filling (at that location) will be missing.
    axis : {0 or 'index'}
        Unused. Parameter needed for compatibility with DataFrame.

    Returns
    -------
    Series
        The result of the operation.

    See Also
    --------
    Series.radd : Reverse of the Addition operator, see
        `Python documentation
        <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
        for more details.

    Examples
    --------
    >>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
    >>> a
    a    1.0
    b    1.0
    c    1.0
    d    NaN
    dtype: float64
    >>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
    >>> b
    a    1.0
    b    NaN
    d    1.0
    e    NaN
    dtype: float64
    >>> a.add(b, fill_value=0)
    a    2.0
    b    1.0
    c    1.0
    d    1.0
    e    NaN
    dtype: float64

In [87]:
s1.add(s2, fill_value=0)

a    110.0
b    220.0
c    330.0
c    430.0
d     40.0
dtype: float64

In [88]:
s1 * s2

a     1000.0
b     4000.0
c     9000.0
c    12000.0
d        NaN
dtype: float64

In [89]:
s1.mul(s2, fill_value=1)

a     1000.0
b     4000.0
c     9000.0
c    12000.0
d       40.0
dtype: float64

In [90]:
help(s1.mul)

Help on method mul in module pandas.core.series:

mul(
    other,
    level: 'Level | None' = None,
    fill_value: 'float | None' = None,
    axis: 'Axis' = 0
) -> 'Series' method of pandas.core.series.Series instance
    Return Multiplication of series and other, element-wise (binary operator `mul`).

    Equivalent to ``series * other``, but with support to substitute a fill_value for
    missing data in either one of the inputs.

    Parameters
    ----------
    other : Series or scalar value
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    fill_value : None or float value, default None (NaN)
        Fill existing missing (NaN) values, and any new element needed for
        successful Series alignment, with this value before computation.
        If data in both corresponding Series locations is missing
        the result of filling (at that location) will be missing.
    axis : {0 or 'index'}
        Unused. Parameter needed for compatibility with DataFrame.

    Returns
    -------
    Series
        The result of the operation.

    See Also
    --------
    Series.rmul : Reverse of the Multiplication operator, see
        `Python documentation
        <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
        for more details.

    Examples
    --------
    >>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
    >>> a
    a    1.0
    b    1.0
    c    1.0
    d    NaN
    dtype: float64
    >>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
    >>> b
    a    1.0
    b    NaN
    d    1.0
    e    NaN
    dtype: float64
    >>> a.multiply(b, fill_value=0)
    a    1.0
    b    0.0
    c    0.0
    d    0.0
    e    NaN
    dtype: float64

In [91]:
s1

a    10
b    20
c    30
d    40
dtype: int64

In [92]:
s2

a    100
b    200
c    300
c    400
dtype: int64

In [93]:
s1 + s2

a    110.0
b    220.0
c    330.0
c    430.0
d      NaN
dtype: float64

In [94]:
%timeit s1.loc['a'].mean()

4.1 s  46.7 ns per loop (mean  std. dev. of 7 runs, 100,000 loops each)

In [95]:
%timeit s1.iloc[0].mean()

3.27 s  28.4 ns per loop (mean  std. dev. of 7 runs, 100,000 loops each)

In [96]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [97]:
s = Series([10, 20, 30.0, 40, 50])
s

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [98]:
s = Series([10, 20, 30, 40, 50], dtype='int8')
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [99]:
# use astyhpe to get a new series back with a different dtype

s.astype('int32')

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [100]:
s.astype('float64')

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [101]:
s

0    10
1    20
2    30
3    40
4    50
dtype: int8

In [102]:
s.loc[2] = 12.34

/var/folders/n7/3xckdj8j3dz45qz4xnlk1fy40000gn/T/ipykernel_94223/1525759873.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.34' has dtype incompatible with int8, please explicitly cast to a compatible dtype first.
  s.loc[2] = 12.34

In [103]:
s

0    10.00
1    20.00
2    12.34
3    40.00
4    50.00
dtype: float64

In [104]:
a = np.array('this is a test of numpy strings'.split())
a

array(['this', 'is', 'a', 'test', 'of', 'numpy', 'strings'], dtype='<U7')

In [105]:
s = Series('this is a test of Pandas strings'.split())
s

0       this
1         is
2          a
3       test
4         of
5     Pandas
6    strings
dtype: object

# Exercise: Indexes

1. Define a series with 10 random ints (0-1,000) with index a-j.
2. Take a-e and make it into a new series.
3. Take f-j and make it into a new series, but with the index a-e.
4. What happens if we add them together?  What if we change the index of the second to be e-a, and not a-e? (You can change the index of a series by assigning to `s.index`.)
5. Change the index of the second to be `cabab`.
6. Add them together, using 0 as a default.
7. Change them both to be `int16`, and multiply them. What happens?

In [107]:
np.random.seed(0)
s = Series(np.random.randint(0, 1000, 10),
          index=list('abcdefghij'))
s

a    684
b    559
c    629
d    192
e    835
f    763
g    707
h    359
i      9
j    723
dtype: int64

In [110]:
# 2. Take a-e and make it into a new series.

s1 = s.loc['a':'e']
s1

a    684
b    559
c    629
d    192
e    835
dtype: int64

In [113]:
# 3. Take f-j and make it into a new series, but with the index a-e.

s2 = s.loc['f':'j']
s2.index=list('abcde')
s2

a    763
b    707
c    359
d      9
e    723
dtype: int64

In [ ]:
s2 = Series(s2.values, index=list('abcde'))

In [114]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [115]:
# 4. What happens if we add them together?  What if we change the index of the second to be e-a, and not a-e? (You can change the index of a series by assigning to `s.index`.)
s1 + s2

a    1447
b    1266
c     988
d     201
e    1558
dtype: int64

In [116]:
s2.index = list('edcba')
s1 + s2

a    1407
b     568
c     988
d     899
e    1598
dtype: int64

In [117]:
# 5. Change the index of the second to be `cabab`.

s2.index = list('cabab')
s1 + s2

a    1391.0
a     693.0
b     918.0
b    1282.0
c    1392.0
d       NaN
e       NaN
dtype: float64

In [118]:
# 6. Add them together, using 0 as a default.

s1.add(s2, fill_value=0)

a    1391.0
a     693.0
b     918.0
b    1282.0
c    1392.0
d     192.0
e     835.0
dtype: float64

In [119]:
# 7. Change them both to be `int16`, and multiply them. What happens?

s1 = s1.astype('int16')
s2 = s2.astype('int16')

s1 * s2

a    483588.0
a      6156.0
b    200681.0
b    404157.0
c    479927.0
d         NaN
e         NaN
dtype: float64

In [120]:
s1

a    684
b    559
c    629
d    192
e    835
dtype: int16

In [121]:
s2

c    763
a    707
b    359
a      9
b    723
dtype: int16

In [123]:
s1 * 10000

a    24256
b    19440
c    -1456
d    19456
e    26928
dtype: int16

In [125]:
s = Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [126]:
s.loc[3] = np.nan

In [127]:
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [128]:
s.mean()

np.float64(27.5)

In [129]:
s.min()

np.float64(10.0)

In [130]:
s.max()

np.float64(50.0)

In [131]:
help(s.mean)

Help on method mean in module pandas.core.series:

mean(
    axis: 'Axis | None' = 0,
    skipna: 'bool' = True,
    numeric_only: 'bool' = False,
    **kwargs
) method of pandas.core.series.Series instance
    Return the mean of the values over the requested axis.

    Parameters
    ----------
    axis : {index (0)}
        Axis for the function to be applied on.
        For `Series` this parameter is unused and defaults to 0.

        For DataFrames, specifying ``axis=None`` will apply the aggregation
        across both axes.

        .. versionadded:: 2.0.0

    skipna : bool, default True
        Exclude NA/null values when computing the result.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    scalar or scalar

                Examples
                --------
                >>> s = pd.Series([1, 2, 3])
                >>> s.mean()
                2.0

                With a DataFrame

                >>> df = pd.DataFrame({'a': [1, 2], 'b': [2, 3]}, index=['tiger', 'zebra'])
                >>> df
                       a   b
                tiger  1   2
                zebra  2   3
                >>> df.mean()
                a   1.5
                b   2.5
                dtype: float64

                Using axis=1

                >>> df.mean(axis=1)
                tiger   1.5
                zebra   2.5
                dtype: float64

                In this case, `numeric_only` should be set to `True` to avoid
                getting an error.

                >>> df = pd.DataFrame({'a': [1, 2], 'b': ['T', 'Z']},
                ...                   index=['tiger', 'zebra'])
                >>> df.mean(numeric_only=True)
                a   1.5
                dtype: float64

In [132]:
s.mean(skipna=False)

np.float64(nan)

In [133]:
s.count()

np.int64(4)

In [134]:
s.size    # not a method!

5

In [135]:
len(s.index)   # fastest soolution!

5

In [136]:
s.shape

(5,)

In [137]:
help(s.count)

Help on method count in module pandas.core.series:

count() -> 'int' method of pandas.core.series.Series instance
    Return number of non-NA/null observations in the Series.

    Returns
    -------
    int
        Number of non-null values in the Series.

    See Also
    --------
    DataFrame.count : Count non-NA cells for each column or row.

    Examples
    --------
    >>> s = pd.Series([0.0, 1.0, np.nan])
    >>> s.count()
    2

In [138]:
# (1) how many nans are there?

s.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [139]:
s.isna().sum()

np.int64(1)

In [140]:
# (2) remove the nans

s.dropna()

0    10.0
1    20.0
2    30.0
4    50.0
dtype: float64

In [141]:
# (3) change nan to something else

s.fillna(0)

0    10.0
1    20.0
2    30.0
3     0.0
4    50.0
dtype: float64

In [143]:
s.fillna(0)
s

0    10.0
1    20.0
2    30.0
3     NaN
4    50.0
dtype: float64

In [ ]:
# we can modify s!

s.fillna(0, inplace=True)